.customize-control {
	padding: 0;
}

.customize-control-radio {
	padding-bottom: 10px;
}

.customize-control + .customize-control .customize-control-title {
	margin-top: 30px !important;
}

.customize-control-title {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	display: block;
	margin: 10px 0 !important;
}

.customize-control-title:before,
.customize-control-title:after {
	content: "";
	position: relative;
	display: inline-block;
	width: 50%;
	height: 1px;
	vertical-align: middle;
	background: #cccccc;
}

.customize-control-title:before {
	left: -.5em;
	margin: 0 0 0 -50%;
}

.customize-control-title:after {
	right: -.5em;
	margin: 0 -50% 0 0;
}

#vp-pfui-format-quote-fields {
	display: none !important;
}

#edit-slug-box {
	margin-bottom: 20px;
}

#vp-pfui-format-video-embed,
#vp-pfui-format-audio-embed {
	height: 100px !important;
}

.customize-control-background .actions, .customize-control-cropped_image .actions, .customize-control-header .actions, .customize-control-image .actions, .customize-control-media .actions, .customize-control-site_icon .actions, .customize-control-upload .actions {
	margin-bottom: 20px;
}

.customize-control .thumbnail-image img {
	width: auto;
	display: block;
	margin: auto;
}

.af-control_section {
	padding: 20px 0 0 0;
}

.af-control_incex-control {
	padding-bottom: 10px;
}

.af-control_incex-control li {
	margin-bottom: 0;
	margin-right: 15px;
}

.af-control .bootstrap-tagsinput {
	padding: 2px 3px;
	width: 100%;
	box-sizing: border-box;
	border-radius: 0;
	line-height: 1;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
}

.af-control .bootstrap-tagsinput .label {
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	background-color: #00a0d2;
	padding: 4px 10px 4px;
	margin: 3px 2px;
	font-size: 13px;
	font-weight: bold;
	box-sizing: border-box;
	max-width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	vertical-align: top;
}

.af-control .bootstrap-tagsinput .label.disabled {
	opacity: .5;
}

.af-control_incex-control li {
	display: inline-block;
}

.af-control_incex-rule p,
.af-control_posts p {
	margin: 8px 0 0 0;
	font-size: 12px;
	line-height: 1.3;
	color: #999;
}

.af-control_posts {
	position: relative;
}

.af-control_posts .ui-autocomplete {
	max-width: 97%;
	max-height: 185px;
	overflow-y: auto;
	overflow-x: hidden;
}

.af-control_ac-item {
	padding: 11px 15px !important;
	border-top: 1px solid #eee;
}

.af-control_ac-item:first-child {
	border-top: 0;
}

.af-control_ac-item h4,
.af-control_ac-item span {
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.af-control_ac-item span {
	display: block;
	color: #a0a5aa;
}

.af-control_p-list {
	margin: 15px 0;
	width: 98%;
}

.af-control_p-list.__empty {
	width: 96%;
	text-align: center;
	border: 2px dashed #ccc;
}

.af-control_p-list.__empty p {
	padding: 12px 0;
	margin: 0;
	color: #b5b5b5;
}

.af-control_p-list_item {
	position: relative;
	overflow: hidden;
	margin: 10px 0 0 0;
	padding: 11px 15px;
	background-color: #fff;
	white-space: nowrap;
	border-top: 1px solid #eee;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.af-control_p-list_item:first-child {
	border-top: 0;
}

.af-control_p-list_item h4,
.af-control_p-list_item p {
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.af-control_p-list_item span {
	display: block;
	color: #a0a5aa;
}

.af-item-nav {
	position: absolute;
	top: 0;
	bottom: 0;
	right: -100%;
	padding: 13px 14px 0 10px;
	background: #fff;
	box-shadow: -5px 0 5px 0 rgba(0, 0, 0, 0.04);
	-webkit-transition: right .3s;
	transition: right .3s;
}

.af-control_p-list_item:hover .af-item-nav {
	right: 0;
}

.af-item-nav li {
	float: left;
	margin: 0 3px;
}

.af-item-nav a {
	display: block;
	padding: 5px;
}

.af-item-nav a:focus {
	box-shadow: none;
}

.af-item-nav .dashicons {
	font-size: 25px;
}

.af-item-nav .dashicons-arrow-up-alt2:hover,
.af-item-nav .dashicons-arrow-down-alt2:hover {
	color: #00a0d2;
}

.af-item-nav .af-control-disabled .dashicons-arrow-up-alt2:hover,
.af-item-nav .af-control-disabled .dashicons-arrow-down-alt2:hover {
	color: #a0a5aa !important;
}

.af-item-nav .dashicons-trash:hover {
	color: #d54e21;
}

.af-item-nav .af-control-disabled {
	opacity: .3;
	cursor: default;
}

.af-control_body {
	display: none;
}

.af-control_body.__visible {
	display: block;
}

.af-control .bootstrap-tagsinput {
	position: relative;
}

.af-control .bootstrap-tagsinput input {
	height: 26px;
	padding: 0 3px;
}

.af-control .twitter-typeahead {
	position: static !important;
}

.af-control .twitter-typeahead .tt-query,
.af-control .twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.af-control .twitter-typeahead .tt-hint
{
    display: none;
}

.af-control .tt-menu {
    position: absolute;
    top: 100%;
	width: 257px;
	right: 0;
    z-index: 1000;
    display: none;
    font-size: 1em;
    background-color: #ffffff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
	max-height: 150px;
  	overflow-y: auto;
}

.af-control .tt-suggestion {
    white-space: nowrap;
	padding: 11px 15px;
	border-top: 1px solid #eee;
}

.af-control .tt-suggestion.tt-selectable {
	cursor: pointer;
}

.af-control .tt-suggestion.tt-selectable:hover,
.af-control .tt-suggestion.tt-selectable.tt-cursor,
.af-control .tt-suggestion.tt-selectable:focus {
  background-color: #ddd;
}

/*# sourceMappingURL=../maps/css/customizer.css.map */
