.customize-control {
	padding: 0;
}

.customize-control-radio {
	padding-bottom: 10px;
}

.customize-control + .customize-control .customize-control-title {
	margin-top: 30px !important;
}

.customize-control-title {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	display: block;
	margin: 10px 0 !important;
}

.customize-control-title:before,
.customize-control-title:after {
	content: "";
	position: relative;
	display: inline-block;
	width: 50%;
	height: 1px;
	vertical-align: middle;
	background: #cccccc;
}

.customize-control-title:before {
	left: -.5em;
	margin: 0 0 0 -50%;
}

.customize-control-title:after {
	right: -.5em;
	margin: 0 -50% 0 0;
}

#vp-pfui-format-quote-fields {
	display: none !important;
}

#edit-slug-box {
	margin-bottom: 20px;
}

#vp-pfui-format-video-embed,
#vp-pfui-format-audio-embed {
	height: 100px !important;
}

.customize-control-background .actions, .customize-control-cropped_image .actions, .customize-control-header .actions, .customize-control-image .actions, .customize-control-media .actions, .customize-control-site_icon .actions, .customize-control-upload .actions {
	margin-bottom: 20px;
}

.customize-control .thumbnail-image img {
	width: auto;
	display: block;
	margin: auto;
}

/*# sourceMappingURL=../maps/css/customizer.css.map */
