@charset "UTF-8";
/*
Theme Name: Rococo
Theme URI: demo.nobrand.team/rococo
Description: WordPress Theme for Bloggers
Author: Nobrand
Author URI: http://www.nobrand.team/
Version: 1.1
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: one-column, two-columns, three-columns, right-sidebar, left-sidebar, fluid-layout , custom-menu, custom-colors, featured-images, post-formats, sticky-post, threaded-comments, translation-ready
*/

/**
 * 1. Reset default styles
 * 2. Clearfix
 * 3. Global styles
 * 4. Typography styles
 * 5. TinyMCE styles
 * 6. Top bar styles
 * 7. Header Menu styles
 * 8. Slider styles
 * 9. Content Layout styles
 * 10. Post styles
 * 11. Widget styles
 * 12. Footer styles
 * 13. Error styles
 * 14. Media Queries
 */

/* ==========================================================================
   1. Reset default styles
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	outline: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

blockquote {
	quotes: none;
}

blockquote:before, blockquote:after {
	content: '';
	content: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
	border: medium none;
	vertical-align: middle;
	width: 100%;
	margin-bottom: 30px;
}

table tbody tr:hover,
table tbody tr:hover {
	background: #f5f5f5;
}

table th {
	border: 0;
	padding: 10px 15px;
	text-align: left;
	border-bottom: 1px solid #e9e9e9;
	font-family: "Lato", sans-serif;
	font-size: 15px;
}

table td {
	padding: 10px 15px;
	text-align: left;
	border-bottom: 1px solid #e9e9e9;
	font-size: 12px;
}

a img {
	border: none;
}

figure {
	margin: 0;
}

img,
.wp-caption {
	max-width: 100%;
	height: auto;
}

iframe {
	max-width: 100%;
}

input,
textarea,
button {
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}

pre {
	overflow: auto;
	background-color: #F1F1F1;
	border: 1px solid #eaeaea;
	border: 1px solid rgba(51, 51, 51, 0.1);
	line-height: 1.2;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 0.8em;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

sub {
	vertical-align: bottom;
}

sup {
	vertical-align: super;
}

.loading {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	transition: height 1s ease;
	z-index: 10;
}

.loading:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fdfdfd;
	z-index: 2;
}

.loading:after {
	content: "";
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
	background-color: #ffffff;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	-webkit-animation: 1s ease-in-out 0s normal none infinite running tp-scaleout;
	        animation: 1s ease-in-out 0s normal none infinite running tp-scaleout;
	z-index: 3;
}

@-webkit-keyframes tp-scaleout {
	0% {
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

@keyframes tp-scaleout {
	0% {
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

/* ==========================================================================
   2. Clearfix
   ========================================================================== */
.header:after,
.social-list:after,
.content:after,
.nav-links:after,
.form-group:after,
.post__content:after,
.widget__list:after,
.feed-list:after,
.related-posts__list:after,
._type-apposition:after,
.instagram-grid ul:after,
hr:after {
	content: "";
	display: table;
	clear: both;
}

/* ==========================================================================
   3. Global styles
   ========================================================================== */
* {
	box-sizing: border-box;
}

*::-moz-selection {
	background: #9f915d;
	color: #ffffff;
}

*::selection {
	background: #9f915d;
	color: #ffffff;
}

*::-moz-selection {
	background: #9f915d;
	color: #ffffff;
}

*:before,
*:after {
	box-sizing: border-box;
}

body {
	font: 400 13px/1.84615384 "Merriweather";
	color: #444444;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

a {
	color: #afa376;
	text-decoration: none;
}

img {
	display: block;
	margin: 0;
}

.btn,
input.wpcf7-submit {
	font: 700 11px/15px "Lato", sans-serif;
	text-transform: uppercase;
	letter-spacing: .16em;
	color: #afa376;
	padding: 10px 20px;
	border: 1px solid #afa376;
	display: inline-block;
	transition: all 0.13s ease-in;
	background: transparent;
	cursor: pointer;
	width: auto;
}

.btn:hover, .btn:focus,
input.wpcf7-submit:hover,
input.wpcf7-submit:focus {
	background: #afa376;
	color: #ffffff;
}

.form-group {
	margin-bottom: 15px;
}

.control-label {
	text-align: right;
	padding: 10px 5px 0;
}

label,
.wpcf7-form {
	font: bold 11px/2 "Lato", sans-serif;
	letter-spacing: 0.16em;
	text-transform: uppercase;
	color: #000000;
	display: block;
}

span.required {
	color: red;
	font-size: 10px;
}

.form-control,
.wpcf7-form-control {
	height: 40px;
	padding: 0 10px;
	max-width: 100%;
	width: 100%;
	font: 13px/normal "Merriweather";
	border: 1px solid #dbdbdb;
	transition: border-color 0.13s ease-in;
	color: #999999;
}

.form-control:focus,
.wpcf7-form-control:focus {
	outline: none;
	border-color: #999999;
}

textarea.form-control,
.wpcf7-textarea {
	height: auto;
	max-width: 100%;
	width: 100%;
	min-height: 40px;
	padding: 10px 15px;
	margin: 0;
	vertical-align: top;
	overflow: auto;
	font-size: 13px;
	line-height: 24px;
	color: #999999;
}

.wpcf7-form p {
	margin-bottom: 15px;
}

.wpcf7-form .wpcf7-not-valid-tip {
	color: #c0392b;
}

.wpcf7-form .ajax-loader {
	display: none;
}

.wpcf7-form .wpcf7-text {
	width: 55%;
}

.wpcf7-form .wpcf7-validation-errors {
	margin: 0 0 2em;
	padding: 8px 8px 6px;
	border: none;
	background: #afa376;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}

#wpadminbar .screen-reader-shortcut,
.screen-reader-shortcut {
	position: absolute;
	top: -1000em;
}

#wpadminbar .screen-reader-shortcut:focus,
.screen-reader-shortcut:focus {
	left: 6px;
	top: 9px;
	height: auto;
	width: auto;
	z-index: 100000;
	display: block;
	padding: 15px 23px 14px;
	background: #afa376;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	font: normal 11px/normal "Lato", sans-serif;
	letter-spacing: .16em;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}

.image-placeholder {
	position: relative;
	color: #cccccc;
}

.image-placeholder._in-related-post {
	margin-bottom: 15px;
	font-size: 25px;
}

.image-placeholder._in-related-post .fa {
	width: 25px;
	height: 25px;
}

.image-placeholder img {
	max-width: 100%;
	height: auto;
	width: 100%;
}

.image-placeholder .fa {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.scroll-to-top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 43px;
	height: 43px;
	vertical-align: middle;
	text-align: center;
	background: #000000;
	line-height: 43px;
	color: #ffffff;
	transition: opacity .2s ease-in, visibility .2s ease-in;
	opacity: 0;
	visibility: hidden;
	font-size: 23px;
	z-index: 1;
}

.scroll-to-top._visible {
	opacity: 1;
	visibility: visible;
}

.scroll-to-top:hover {
	opacity: 1;
	color: #ffffff;
}

/* ==========================================================================
   4. Typography styles
   ========================================================================== */
h1, h1 a,
h2, h2 a,
h3, h3 a,
h4, h4 a,
h5, h5 a,
h6, h6 a {
	color: #000000;
	margin-bottom: 25px;
	line-height: 1.4em;
	font-weight: 700;
	font-family: "Lato", sans-serif;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	transition: all 0.4s ease 0s;
}

h1 a:hover, h1 a:focus,
h2 a:hover,
h2 a:focus,
h3 a:hover,
h3 a:focus,
h4 a:hover,
h4 a:focus,
h5 a:hover,
h5 a:focus,
h6 a:hover,
h6 a:focus {
	opacity: .8;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 21px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

p {
	margin-bottom: 23px;
}

hr {
	border: none;
	background: url("images/bg/border-decor.png") repeat-x 0 0;
	margin: 25px 0;
	height: 1px;
}

hr.delimiter {
	margin: 0;
}

blockquote {
	font-style: italic;
	font-size: 18px;
	line-height: 1.66;
	color: #999999;
	padding-left: 1.4em;
	border-left: 3px solid #afa376;
	margin-bottom: 25px;
}

blockquote p {
	margin: 0;
}

abbr:hover, abbr:focus {
	cursor: help;
}

.post__content a:hover, .post__content a:focus,
.comment__content a:hover,
.comment__content a:focus {
	border-bottom: 1px solid #afa376;
}

.post__content ul,
.comment__content ul {
	padding-left: 2.3em;
	list-style-type: none;
	margin-bottom: 25px;
}

.post__content ul li,
.comment__content ul li {
	padding-left: 12px;
	position: relative;
}

.post__content ul li:before,
.comment__content ul li:before {
	content: "";
	width: 4px;
	height: 4px;
	background: #444444;
	position: absolute;
	left: 0;
	top: 9px;
	margin: auto;
}

.post__content ul:last-child,
.comment__content ul:last-child {
	margin-bottom: 0;
}

.post__content ol,
.comment__content ol {
	padding-left: 3.5em;
	margin-bottom: 25px;
}

.post__content ol:last-child,
.comment__content ol:last-child {
	margin-bottom: 0;
}

.post__content > *:last-child,
.comment__content > *:last-child {
	margin-bottom: 0;
}

.post__content dl,
.comment__content dl {
	margin-bottom: 25px;
}

.post__content .photoswipe_gallery,
.comment__content .photoswipe_gallery {
	padding-bottom: 0 !important;
}

.post__content .photoswipe_gallery .msnry_item,
.comment__content .photoswipe_gallery .msnry_item {
	padding: 3px !important;
}

.post__content .photoswipe_gallery .msnry_item a,
.comment__content .photoswipe_gallery .msnry_item a {
	display: block;
	transition: all 0.4s ease 0s;
	border-bottom: none;
}

.post__content .photoswipe_gallery .msnry_item a:hover, .post__content .photoswipe_gallery .msnry_item a:focus,
.comment__content .photoswipe_gallery .msnry_item a:hover,
.comment__content .photoswipe_gallery .msnry_item a:focus {
	opacity: .8;
}

.post__content .photoswipe_gallery .photoswipe-gallery-caption,
.comment__content .photoswipe_gallery .photoswipe-gallery-caption {
	margin-bottom: 6px;
	font-size: 11px !important;
}

.post__content .gallery,
.comment__content .gallery {
	margin: 0 -3px 15px;
	overflow: hidden;
}

.post__content .gallery .gallery-item,
.comment__content .gallery .gallery-item {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 6px;
	padding: 0 3px;
	text-align: center;
}

.post__content .gallery .gallery-item img,
.comment__content .gallery .gallery-item img {
	margin: auto;
}

.post__content .gallery .gallery-item a,
.comment__content .gallery .gallery-item a {
	transition: all .4s ease;
	display: block;
	border-bottom: none;
}

.post__content .gallery .gallery-item a:hover,
.comment__content .gallery .gallery-item a:hover {
	opacity: .8;
}

.post__content .gallery .gallery-item .gallery-caption,
.comment__content .gallery .gallery-item .gallery-caption {
	margin-bottom: 6px;
}

.post__content .gallery.gallery-columns-1 .gallery-item,
.comment__content .gallery.gallery-columns-1 .gallery-item {
	width: 50%;
	float: none;
	margin: 20px auto 0;
	text-align: center;
	display: block;
}

.post__content .gallery.gallery-columns-2 .gallery-item,
.comment__content .gallery.gallery-columns-2 .gallery-item {
	width: 50%;
}

.post__content .gallery.gallery-columns-3 .gallery-item,
.comment__content .gallery.gallery-columns-3 .gallery-item {
	width: 33.3333%;
}

.post__content .gallery.gallery-columns-4 .gallery-item,
.comment__content .gallery.gallery-columns-4 .gallery-item {
	width: 25%;
}

.post__content .gallery.gallery-columns-5 .gallery-item,
.comment__content .gallery.gallery-columns-5 .gallery-item {
	width: 20%;
}

.post__content .gallery.gallery-columns-6 .gallery-item,
.comment__content .gallery.gallery-columns-6 .gallery-item {
	width: 16.6666%;
}

.post__content .gallery.gallery-columns-7 .gallery-item,
.comment__content .gallery.gallery-columns-7 .gallery-item {
	width: 14.2875%;
}

.post__content .gallery.gallery-columns-8 .gallery-item,
.comment__content .gallery.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.post__content .gallery.gallery-columns-9 .gallery-item,
.comment__content .gallery.gallery-columns-9 .gallery-item {
	width: 11.1111%;
}

body.admin-bar .pswp {
	z-index: 100000;
}

/* ==========================================================================
   5. TinyMCE styles
   ========================================================================== */
.alignleft {
	float: left;
	margin: 0.6em 2em 1em 0;
}

.alignright {
	float: right;
	margin: 0.6em 0 1em 2em;
	text-align: right;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 1em auto 2em;
	text-align: center;
}

.alignnone {
	margin-bottom: 2em;
	margin-top: 1em;
}

.gallery-caption,
.wp-caption-text,
.photoswipe-gallery-caption {
	font-size: 11px;
	font-style: italic;
	color: #999999;
	margin: 0.5em 0.2em 0;
}

/* ==========================================================================
   6. Top bar styles
   ========================================================================== */
.top-bar {
	background: #000000;
}

.top-bar .top-bar__left {
	float: left;
}

.top-bar .top-bar__right {
	float: right;
}

.social-list {
	padding: 0;
	list-style-type: none;
	line-height: 1;
}

.social-list .social-list__item {
	display: inline-block;
	line-height: 0;
}

.social-list .social-list__item a {
	line-height: 0;
	color: #ffffff;
	transition: color 0.13s ease-in;
}

.social-list .social-list__item a:hover, .social-list .social-list__item a:focus {
	color: #afa376;
	border: none;
}

.social-list .social-list__item a .fa {
	line-height: 16px;
	vertical-align: middle;
}

.social-list._in-top-bar {
	height: 61px;
}

.social-list._in-top-bar .social-list__item {
	margin-right: 3px;
}

.social-list._in-top-bar .social-list__item a {
	line-height: 61px;
	padding: 0 3px;
	font-size: 14px;
}

.top-bar__right .site-search {
	width: 240px;
	border: none;
	background: #090909;
}

.top-bar__right .site-search._focus {
	background: #101010;
}

.top-bar__right .site-search .site-search__field {
	color: #ffffff;
}

.top-bar__right .site-search .site-search__button {
	background: #101010;
	color: #ffffff;
}

.site-search {
	height: 61px;
	width: 100%;
	border: 1px solid #dbdbdb;
	transition: all 0.13s ease-in;
}

.site-search._focus {
	border-color: #999999;
}

.site-search .site-search__field {
	display: block;
	float: left;
	height: 100%;
	width: 75%;
	padding: 0 0 0 25px;
	border: none;
	outline: none;
	background: none;
	font: italic 12px/normal "Lato", sans-serif;
	letter-spacing: 1px;
	color: #999999;
}

.site-search .site-search__button {
	display: block;
	float: right;
	height: 100%;
	width: 25%;
	border: none;
	padding: 0;
	background: none;
	font-size: 14px;
	cursor: pointer;
	color: #999999;
}

.site-search .site-search__button::-moz-focus-inner {
	border: 0;
}

/* ==========================================================================
   7. Header Menu styles
   ========================================================================== */
.header {
	position: relative;
}

.site-brand {
	text-align: center;
	margin: 0;
	padding: 95px 0;
	font: 0px/0 a;
}

.site-brand > a:hover, .site-brand > a:focus {
	opacity: 1;
}

.site-brand img {
	vertical-align: middle;
}

.site-brand img {
	display: none;
}

.dark-logo:not(.retina) {
	display: inline-block;
}

.header-bg-overlay .site-brand img {
	display: none;
}

.header-bg-overlay .light-logo:not(.retina) {
	display: inline-block;
}

._menu-open .dark-logo {
	display: none;
}

._menu-open .light-logo:not(.retina) {
	display: inline-block;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.site-brand .dark-logo {
		display: inline-block;
	}
	.site-brand .dark-logo + .dark-logo {
		display: none;
	}
	.header-bg-overlay .site-brand .dark-logo {
		display: none;
	}
	.header-bg-overlay .site-brand .light-logo {
		display: inline-block;
	}
	.header-bg-overlay .site-brand .light-logo + .light-logo {
		display: none;
	}
	._menu-open .dark-logo {
		display: none !important;
	}
	._menu-open .light-logo {
		display: inline-block;
	}
	._menu-open .light-logo + .light-logo {
		display: none;
	}
}

.header-bg-overlay {
	background-size: cover;
	background-position: center;
}

.header-bg-overlay .top-bar {
	background: rgba(0, 0, 0, 0.5);
}

.header-bg-overlay .site-search {
	background: transparent;
}

.header-bg-overlay .site-search .site-search__field,
.header-bg-overlay .site-search .site-search__button {
	background: transparent;
}

.header-bg-overlay + .delimiter {
	display: none;
}

.header-bg-overlay + .container .slider-wrapper {
	margin-top: 45px;
}

/* ==========================================================================
   8. Slider styles
   ========================================================================== */
.owl-controls .owl-prev,
.owl-controls .owl-next {
	width: 37px;
	height: 37px;
	vertical-align: middle;
	text-align: center;
	border: 1px solid #ffffff;
	line-height: 36px;
	text-shadow: none;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	z-index: 2;
	font-size: 15px;
	color: #ffffff;
	transition: background .3s;
}

.owl-controls .owl-prev:hover, .owl-controls .owl-prev:focus,
.owl-controls .owl-next:hover,
.owl-controls .owl-next:focus {
	background-color: #ffffff;
	color: #000000;
}

.owl-controls .owl-prev {
	left: 2.7%;
}

.owl-controls .owl-next {
	right: 2.7%;
}

.owl-nav .owl-nav__arrow {
	transition: color .3s;
}

.owl-nav .owl-nav__arrow:before {
	display: inline-block;
	font-family: "FontAwesome";
	-webkit-font-feature-settings: normal;
	        font-feature-settings: normal;
	-webkit-font-kerning: auto;
	        font-kerning: auto;
	-webkit-font-language-override: normal;
	        font-language-override: normal;
	font-size: inherit;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-synthesis: weight style;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	text-rendering: auto;
}

.owl-nav .owl-next .owl-nav__arrow:before {
	content: "\f105";
}

.owl-nav .owl-prev .owl-nav__arrow:before {
	content: "\f104";
}

._featured_nav .owl-prev,
._featured_nav .owl-next {
	height: 56px;
	line-height: 55px;
	font-size: 20px;
}

._instagram-feed-nav .owl-prev,
._instagram-feed-nav .owl-next {
	width: 50px;
	height: 50px;
	line-height: 49px;
	opacity: 0;
	transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

._instagram-feed-nav .owl-prev {
	-webkit-transform: translateX(-50%) translateY(-50%);
	        transform: translateX(-50%) translateY(-50%);
}

._instagram-feed-nav .owl-next {
	-webkit-transform: translateX(50%) translateY(-50%);
	        transform: translateX(50%) translateY(-50%);
}

.owl-dots {
	position: absolute;
	left: 20px;
	right: 0;
	bottom: 20px;
	text-align: center;
}

.owl-dots .owl-dot {
	display: inline-block;
	vertical-align: middle;
	margin: 15px;
	width: 14px;
	height: 14px;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.4);
	transition: background-color .13s ease;
	border-radius: 50%;
}

.owl-dots .owl-dot:hover, .owl-dots .owl-dot.active, .owl-dots .owl-dot:focus {
	background: #ffffff;
}

._animate_scale_up .owl-dot {
	transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
	transition: transform 0.3s ease, background-color 0.3s ease;
	transition: transform 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s ease;
}

._animate_scale_up .owl-dot.active {
	-webkit-transform: scale(1.2);
	        transform: scale(1.2);
}

._animate_fill_up .owl-dot {
	box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.4);
	border: 2px solid #ffffff;
	position: relative;
	overflow: hidden;
}

._animate_fill_up .owl-dot:after {
	background-color: #fff;
	bottom: 0;
	box-shadow: 0 0 1px #fff;
	content: "";
	height: 0;
	left: 0;
	position: absolute;
	transition: height 0.3s ease 0s;
	width: 100%;
}

._animate_fill_up .owl-dot.active {
	background-color: transparent;
}

._animate_fill_up .owl-dot.active:after {
	height: 100%;
}

._animate_fall .owl-dot {
	position: relative;
	box-shadow: none;
	background: none;
}

._animate_fall .owl-dot:after {
	background-color: #ffffff;
	box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.4);
	border-radius: 50%;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	-webkit-transform: translateY(-200%);
	        transform: translateY(-200%);
	transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s, -webkit-transform 0.3s ease 0s;
	transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s;
	transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s, -webkit-transform 0.3s ease 0s;
	visibility: hidden;
	width: 100%;
}

._animate_fall .owl-dot:before {
	content: "";
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.4);
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity 0.3s ease 0s, background-color 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
	transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, background-color 0.3s ease 0s;
	transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, background-color 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

._animate_fall .owl-dot.active {
	background: none;
}

._animate_fall .owl-dot.active:after {
	opacity: 1;
	-webkit-transform: translateY(0%);
	        transform: translateY(0%);
	transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
	transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
	transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
	visibility: visible;
}

._animate_fall .owl-dot.active:before {
	opacity: 0;
	-webkit-transform: translateY(200%);
	        transform: translateY(200%);
}

.fade-in {
	-webkit-animation: scale-from .5s ease both;
	        animation: scale-from .5s ease both;
}

.fade-out {
	-webkit-animation: scale-to .5s ease both;
	        animation: scale-to .5s ease both;
}

@-webkit-keyframes scale-from {
	from {
		opacity: 0;
		-webkit-transform: scale(1.5);
		        transform: scale(1.5);
	}
}

@keyframes scale-from {
	from {
		opacity: 0;
		-webkit-transform: scale(1.5);
		        transform: scale(1.5);
	}
}

@-webkit-keyframes scale-to {
	to {
		opacity: 0;
		-webkit-transform: scale(1.5);
		        transform: scale(1.5);
	}
}

@keyframes scale-to {
	to {
		opacity: 0;
		-webkit-transform: scale(1.5);
		        transform: scale(1.5);
	}
}

@-webkit-keyframes flipInX {
	from {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0;
	}
	40% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	60% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		opacity: 1;
	}
	80% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	}
	to {
		-webkit-transform: perspective(400px);
		transform: perspective(400px);
	}
}

@keyframes flipInX {
	from {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0;
	}
	40% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	60% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		opacity: 1;
	}
	80% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	}
	to {
		-webkit-transform: perspective(400px);
		transform: perspective(400px);
	}
}

.flipInX {
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-animation-name: flipInX;
	animation-name: flipInX;
}

.slider-wrapper {
	position: relative;
	overflow: hidden;
}

.entry-slider {
	height: 575px;
}

.entry-slider.owl-loaded {
	height: auto;
}

.entry-slider .owl-stage-outer {
	overflow: visible;
	position: relative;
}

.entry-slider .owl-stage-outer:before, .entry-slider .owl-stage-outer:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background: #000000;
	opacity: .6;
	z-index: 1;
}

.entry-slider .owl-stage-outer:before {
	right: 100%;
}

.entry-slider .owl-stage-outer:after {
	left: 100%;
}

.entry-slider .slide {
	position: relative;
}

.entry-slider .slide .slide__featured {
	background-size: cover;
	background-position: center;
	height: 575px;
	display: block;
	position: relative;
}

@-webkit-keyframes slideOutDown {
	from {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	to {
		visibility: hidden;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
}

@keyframes slideOutDown {
	from {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	to {
		visibility: hidden;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
}

.slideOutDown {
	-webkit-animation-name: slideOutDown;
	animation-name: slideOutDown;
}

@-webkit-keyframes slideOutDown {
	from {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	to {
		visibility: hidden;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
}

@keyframes slideOutDown {
	from {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	to {
		visibility: hidden;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
}

.slideOutDown {
	-webkit-animation-name: slideOutDown;
	animation-name: slideOutDown;
}

._black_overlay {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #000000;
	opacity: .45;
	transition: opacity .4s ease;
}

.slide {
	position: relative;
}

.slide:hover ._black_overlay {
	opacity: .6 !important;
}

.slide .slide__content {
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	margin: auto;
	text-align: center;
}

.slide .slide__content:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.slide .slide__content .slide__content__inner {
	z-index: 1;
	display: inline-block;
	vertical-align: middle;
	max-width: 70%;
	opacity: 0;
	transition: opacity .1s linear, -webkit-transform 1s linear;
	transition: opacity .1s linear, transform 1s linear;
	transition: opacity .1s linear, transform 1s linear, -webkit-transform 1s linear;
}

.slide .slide__category {
	padding-bottom: 30px;
	padding-top: 25px;
	opacity: 0;
	transition: opacity .5s ease-in;
}

.slide .slide__category a {
	background: #afa376 none repeat scroll 0 0;
	color: #ffffff;
	display: inline-block;
	font-family: "Lato", sans-serif;
	font-size: 11px;
	font-weight: 700;
	left: 0;
	letter-spacing: 0.16em;
	line-height: 21px;
	padding: 0 4px 0 6px;
	text-transform: uppercase;
}

.slide .slide__title {
	margin: 55px 0 15px;
	text-transform: uppercase;
	letter-spacing: .16em;
	opacity: 0;
	-webkit-transform: scale(0.9);
	        transform: scale(0.9);
	transition: opacity .7s ease-in, -webkit-transform .7s ease;
	transition: opacity .7s ease-in, transform .7s ease;
	transition: opacity .7s ease-in, transform .7s ease, -webkit-transform .7s ease;
}

.slide .slide__title a {
	color: #ffffff;
}

.slide .slide__date {
	margin-bottom: 95px;
	position: relative;
	overflow: hidden;
	opacity: 0;
	-webkit-transform: scale(0.9);
	        transform: scale(0.9);
	transition: opacity .9s ease-in, -webkit-transform .9s ease;
	transition: opacity .9s ease-in, transform .9s ease;
	transition: opacity .9s ease-in, transform .9s ease, -webkit-transform .9s ease;
}

.slide .slide__date:before, .slide .slide__date:after {
	content: "";
	position: relative;
	display: inline-block;
	width: 65px;
	height: 1px;
	vertical-align: middle;
	background: #ffffff;
	background-clip: content-box;
}

.slide .slide__date:before {
	left: -27px;
}

.slide .slide__date:after {
	left: 27px;
}

.slide .slide__date a {
	color: #ffffff;
	border-bottom: none;
	font-size: 13px;
}

.slide .btn {
	border-color: #ffffff;
	color: #ffffff;
	opacity: 0;
	transition: opacity .9s ease-in, color .3s, background .3s;
}

.slide .btn:hover, .slide .btn:focus {
	background: #ffffff;
	color: #000000;
}

.active .slide .slide__content .slide__content__inner {
	opacity: 1;
}

._animate .slide__category {
	opacity: 1;
}

._animate .slide__title {
	opacity: 1;
	-webkit-transform: scale(1);
	        transform: scale(1);
}

._animate .slide__date {
	opacity: 1;
	-webkit-transform: scale(1);
	        transform: scale(1);
}

._animate .btn {
	opacity: 1;
}

/* ==========================================================================
   9. Featured Blocks
   ========================================================================== */
._streamlined {
	position: relative;
}

._streamlined:before {
	content: "";
	position: absolute;
	left: -1px;
	right: -1px;
	top: -1px;
	bottom: -1px;
	border: 1px solid #e9e9e9;
	z-index: -1;
}

.popular-post {
	position: relative;
	padding-bottom: 35px;
	margin-top: 45px;
}

.popular-post .popular-post__image {
	display: block;
	width: 100%;
	height: 225px;
	background-size: cover;
	background-position: center;
	transition: all 0.4s ease 0s;
}

.popular-post .popular-post__image:hover, .popular-post .popular-post__image:focus {
	opacity: .8;
}

.popular-post .popular-post__content {
	position: absolute;
	left: 9%;
	right: 9%;
	height: 104px;
	bottom: 0;
	background: #ffffff;
	border-top: 4px solid #afa376;
	text-align: center;
	padding: 25px 30px;
}

.popular-post .popular-post__content .popular-post__title {
	font-size: 14px;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 10px;
	letter-spacing: .16em;
}

.popular-post .popular-post__content .popular-post__date a {
	color: #999999;
}

.popular-post .popular-post__content .popular-post__date a:hover, .popular-post .popular-post__content .popular-post__date a:focus {
	color: #afa376;
	border-bottom: 1px solid #afa376;
}

/* ==========================================================================
   9. Content Layout styles
   ========================================================================== */
.content {
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 70px;
}

.content .content__primary {
	width: 70.2702%;
	float: left;
	padding: 0 15px;
}

.content .content__primary._align-right {
	float: right;
}

.content .sidebar {
	width: 29.7297%;
	float: left;
	padding: 0 15px;
}

.content._full-width .content__primary {
	width: 100%;
}

.content._full-width .sidebar {
	display: none;
}

body.page .sidebar {
	padding-top: 19px;
}

body.search .sidebar {
	padding-top: 16px;
}

/* ==========================================================================
   10. Post styles
   ========================================================================== */
.apposition-wrapper ._type-apposition:nth-child(even) .apposition-content {
	float: right;
}

.apposition-wrapper ._type-apposition:nth-child(even) .apposition-image {
	left: 0;
}

.apposition-wrapper ._type-apposition._no-image .apposition-content {
	width: 100%;
	margin: 0;
}

.apposition-wrapper ._type-apposition .post__more {
	padding-top: 0;
}

.apposition-content {
	width: 55%;
	background: #ffffff;
	border: 1px solid #e9e9e9;
	padding: 60px 60px 50px;
	margin: 40px 30px;
	position: relative;
	z-index: 1;
}

.apposition-content .page-links {
	margin-bottom: 0;
}

.apposition-image {
	max-width: 70%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	transition: all 0.4s ease 0s;
}

.apposition-image:hover {
	opacity: 0.8;
}

.apposition-image .post__thumbnail {
	display: inline !important;
}

.apposition-image .post__thumbnail img {
	max-height: 100%;
	width: auto;
	height: 100%;
	max-width: none;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
}

.content-box-overlay {
	padding-left: 30px;
	padding-right: 30px;
	background: #ffffff;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #e9e9e9;
}

.content-box-overlay .content-box {
	position: relative;
	top: -75px;
	background: #ffffff;
	border-top: 5px solid #afa376;
	padding: 75px 50px 0;
}

.post {
	margin-bottom: 30px;
	position: relative;
}

.post._no-image .content-box {
	top: 0;
	padding: 50px;
}

.post._no-image .content-box-overlay {
	border-top-width: 1px;
}

.post .post__header {
	text-align: center;
	margin-bottom: 38px;
}

.post .post__title {
	margin-bottom: 12px;
	letter-spacing: 0.16em;
	text-transform: uppercase;
}

.post .post__category {
	margin-bottom: 10px;
	line-height: 1;
	color: #afa376;
	font-size: 14px;
}

.post .post__category a {
	border-bottom: 1px solid #afa376;
	color: #afa376;
	display: inline-block;
	font: 700 11px/1.7 "Lato", sans-serif;
	letter-spacing: 0.16em;
	text-transform: uppercase;
	position: relative;
	top: -1px;
	margin: 0 1px;
}

.post .post__info {
	margin-bottom: 17px;
	line-height: 1;
}

.post .post__info .post__date,
.post .post__info .post__author,
.post .post__info .post__comments {
	display: inline-block;
	vertical-align: middle;
	padding: 0 5px;
	margin: 0 4px;
}

.post .post__info a {
	border-bottom: 1px solid transparent;
	color: #999999;
}

.post .post__info a:hover, .post .post__info a:focus {
	color: #afa376;
	border-color: #afa376;
}

.post .post__info [class^='post__'] + [class^='post__'] {
	position: relative;
}

.post .post__info [class^='post__'] + [class^='post__']:before {
	content: "•";
	font-size: 14px;
	left: -7px;
	position: absolute;
	vertical-align: middle;
	line-height: 100%;
	color: #999999;
}

.post .post__thumbnail {
	display: block;
	position: relative;
	overflow: hidden;
	transition: all 0.4s ease 0s;
	background: rgba(175, 163, 118, 0.15);
}

.post .post__thumbnail img {
	display: block;
	margin: 0 auto;
}

.post a.post__thumbnail:hover, .post a.post__thumbnail:focus {
	opacity: .8;
}

.post .post__media iframe {
	display: block;
}

.post .post__slider {
	height: 0;
}

.post .post__content,
.post .slider-wrapper,
.post .post__media,
.post .post__tags {
	margin: 35px auto;
}

.post .post__tags {
	color: #999999;
}

.post .post__tags dt,
.post .post__tags dd {
	display: inline-block;
	vertical-align: middle;
}

.post .post__tags dt {
	color: #000000;
}

.post .post__tags dd a {
	border-bottom: 1px solid #afa376;
}

.post .post__caption {
	font-style: italic;
	color: #999999;
	margin: 0.5em 0.2em 0;
}

.post .post__share {
	text-align: center;
	margin-bottom: 25px;
}

.post .post__more {
	text-align: center;
	padding-top: 20px;
}

.post._format-quote {
	text-align: center;
	padding: 65px 80px;
	display: table;
	width: 100%;
	border: 1px solid #e9e9e9;
}

.post._format-quote .table-cell-layer {
	display: table-cell;
	vertical-align: middle;
}

.post._format-quote .post__header {
	margin-bottom: 32px;
}

.post._format-quote .post__content {
	position: relative;
}

.post._format-quote .post__content blockquote {
	font-size: 18px;
	color: #999999;
	line-height: 1.7;
	position: relative;
	border: none;
	padding: 0;
}

.post._format-quote .post__content cite {
	padding-top: 35px;
	font-size: 13px;
	display: block;
}

.post._format-quote .post__content:after {
	content: "";
	position: absolute;
	width: 32px;
	height: 1px;
	background: #afa376;
	left: 0;
	right: 0;
	bottom: -15px;
	margin: auto;
}

.post._format-quote .post__content i[class*="quote"] {
	vertical-align: top;
	font-size: 18px;
	color: #afa376;
	display: block;
	margin-bottom: 25px;
}

.post._format-quote .post__info {
	margin-bottom: 35px;
}

.post._format-quote .post__info {
	margin: 0;
}

.post._format-quote._type-grid {
	height: 550px;
	padding: 70px 40px;
}

.post._format-quote._type-grid .post__header {
	margin-bottom: 30px;
}

.post._format-quote._type-grid .post__info {
	margin-bottom: 10px;
}

.post:not(._type-list) + ._type-list {
	padding-top: 30px;
}

.post:not(._type-list) + ._type-list:before {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: url("images/bg/border-decor.png") repeat-x 0 0;
}

.post._type-list {
	margin-bottom: 30px;
	position: relative;
}

.post._type-list:after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: url("images/bg/border-decor.png") repeat-x 0 0;
}

.post._type-list._no-image .post__info {
	margin-bottom: 43px;
}

.post._type-list .post__thumbnail {
	margin-bottom: 30px;
	background: none;
}

.post._type-list .post__thumbnail img {
	width: 100%;
}

.post._type-list .post__header {
	margin: 9px 0 18px;
}

.post._type-list .post__title {
	font-size: 16px;
	margin-bottom: 15px;
}

.post._type-list .post__info {
	text-align: center;
	line-height: 12px;
	margin-bottom: 30px;
}

.post._type-list .post__info a {
	font-size: 13px;
}

.post._type-list .post__content {
	position: relative;
	margin-bottom: 42px;
	margin-top: 18px;
	min-height: 24px;
}

.post._type-list .post__content:after {
	background: #afa376 none repeat scroll 0 0;
	bottom: -20px;
	content: "";
	height: 1px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	width: 32px;
}

.post._type-grid {
	margin-bottom: 0;
}

.post._type-grid .post__thumbnail {
	background: none;
}

.post._type-grid .post__header {
	margin-bottom: 16px;
}

.post._type-grid .post__title {
	font-size: 16px;
	margin-bottom: 15px;
}

.post._type-grid .flex-control-nav {
	bottom: 24px;
}

.post._type-grid .post__category {
	margin-bottom: 20px;
}

.post._type-grid .featured {
	margin-bottom: 21px;
}

.post._type-grid .post__info {
	text-align: center;
	margin-bottom: 0;
	line-height: 12px;
}

.post._type-grid .post__info a {
	font-size: 13px;
}

.post._type-grid .post__content {
	position: relative;
	margin-bottom: 42px;
	margin-top: 18px;
	min-height: 24px;
}

.post._type-grid .post__content:after {
	background: #afa376 none repeat scroll 0 0;
	bottom: -20px;
	content: "";
	height: 1px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	width: 32px;
}

.post._type-grid .content-box-overlay {
	padding: 50px 45px;
}

.post._type-apposition {
	margin-bottom: 70px;
	overflow: hidden;
}

.post-password-form p,
.post-password-form label {
	display: inline-block;
	vertical-align: middle;
}

.post-password-form input[type="password"] {
	width: 250px;
	height: 37px;
	margin-left: 10px;
	padding: 0 15px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #dbdbdb;
	outline: medium none;
	box-shadow: none;
	font: italic "Lato", sans-serif;
	letter-spacing: 1px;
	color: #999999;
	transition: border-color 0.13s ease-in;
}

.post-password-form input[type="password"]:focus {
	border-color: #999999;
}

.post-password-form input[type="submit"] {
	display: inline-block;
	vertical-align: middle;
	width: 100px;
	height: 37px;
	background: #afa376;
	border: none;
	cursor: pointer;
	font: 700 11px/normal "Lato", sans-serif;
	text-transform: uppercase;
	letter-spacing: .16em;
	color: #ffffff;
}

.social-list._in-post {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
}

.social-list._in-post:before, .social-list._in-post:after {
	content: "";
	position: relative;
	top: -1px;
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	height: 1px;
	background: url("images/bg/border-decor.png") repeat-x 0 0;
}

.social-list._in-post:before {
	margin: 0 0 0 -50%;
}

.social-list._in-post:after {
	margin: 0 -50% 0 0;
}

.social-list._in-post .social-list__item {
	margin: 0 5px;
}

.social-list._in-post .social-list__item a {
	color: #afa376;
	font-size: 16px;
}

.social-list._in-post .social-list__item a:hover, .social-list._in-post .social-list__item a:focus {
	color: #000000;
}

.grid-list {
	margin-left: -15px;
	margin-right: -15px;
}

.grid-list .grid-list__item {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 30px;
	padding: 0 15px;
	width: 50%;
}

.grid-list + ._type-list {
	padding-top: 30px;
}

.grid-list + ._type-list:before {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: url("images/bg/border-decor.png") repeat-x 0 0;
}

._full-width .grid-list .grid-list__item {
	width: 33.33%;
}

.pagination {
	text-align: center;
	margin-bottom: 60px;
}

.pagination .pagination__item {
	width: 37px;
	height: 37px;
	display: inline-block;
	vertical-align: top;
	margin: 0 3px;
	border: 1px solid #afa376;
	text-align: center;
	font: 14px/35px "Lato", sans-serif;
	color: #afa376;
	transition: all .13s ease-in 0s;
}

.pagination .pagination__item.current {
	color: #ffffff;
}

.pagination .pagination__item:hover, .pagination .pagination__item:focus {
	background: #afa376;
	color: #ffffff;
}

.pagination .current {
	background: #afa376;
	color: #ffffff;
}

.nav-links {
	margin-bottom: 60px;
}

.nav-links .nav-previous {
	float: right;
}

.nav-links .nav-next {
	float: left;
}

.image-navigation .nav-links {
	margin-bottom: 60px;
}

.image-navigation .nav-links .nav-previous {
	float: left;
}

.image-navigation .nav-links .nav-next {
	float: right;
}

.nav-previous a,
.nav-next a {
	font: 700 11px/15px "Lato", sans-serif;
	text-transform: uppercase;
	letter-spacing: .16em;
	color: #afa376;
	padding: 10px 20px;
	border: 1px solid #afa376;
	display: inline-block;
	transition: all 0.13s ease-in;
}

.nav-previous a:hover, .nav-previous a:focus,
.nav-next a:hover,
.nav-next a:focus {
	background: #afa376;
	color: #ffffff;
}

.page-links {
	text-align: center;
	margin-bottom: 35px;
}

.page-links .page-links__title {
	display: inline-block;
	vertical-align: middle;
	font-weight: 700;
}

.page-links .page-links__item {
	width: 37px;
	height: 37px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 3px;
	border: 1px solid #afa376;
	text-align: center;
	font: 14px/35px "Lato", sans-serif;
	color: #ffffff;
	transition: all .13s ease-in 0s;
	background: #afa376;
}

.page-links a .page-links__item {
	background: transparent;
	color: #afa376;
}

.page-links a .page-links__item:hover, .page-links a .page-links__item:focus {
	background: #afa376;
	color: #ffffff;
}

.featured {
	text-align: center;
	margin: -3px 0 12px;
	display: block;
	line-height: 1;
}

.featured .featured__label {
	background: none repeat scroll 0 0 #afa376;
	color: #ffffff;
	display: inline-block;
	font-family: "Lato", sans-serif;
	font-size: 11px;
	font-weight: 700;
	line-height: 21px;
	left: 0;
	letter-spacing: 0.16em;
	padding: 0 4px 0 6px;
	text-transform: uppercase;
	top: 0;
}

.post__author-bio {
	padding: 60px 0;
	position: relative;
}

.post__author-bio:after {
	content: "";
	left: 0;
	right: 0;
	top: 100%;
	height: 1px;
	position: absolute;
	background: url("images/bg/border-decor.png") repeat-x 0 0;
}

.post__author-bio .col-sm-10 {
	padding-left: 10px;
}

.post__author-bio .avatar {
	margin: auto;
}

.post__author-bio .author__title {
	margin-bottom: 8px;
}

.post__author-bio .author__biographical {
	margin-bottom: 12px;
}

.social-list._in-author-bio .social-list__item {
	margin-right: 14px;
}

.social-list._in-author-bio .social-list__item a {
	color: #afa376;
	font-size: 16px;
}

.social-list._in-author-bio .social-list__item a:hover, .social-list._in-author-bio .social-list__item a:focus {
	color: #000000;
}

.comments {
	margin-bottom: 60px;
}

.comments .comments__title {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 50px;
	line-height: 1;
	letter-spacing: .16em;
}

.comments-list .comments-list__item {
	list-style-type: none;
	padding-bottom: 40px;
	margin-bottom: 40px;
	position: relative;
}

.comments-list .comments-list__item:after {
	content: "";
	left: 0;
	right: 0;
	top: 100%;
	height: 1px;
	position: absolute;
	background: url("images/bg/border-decor.png") repeat-x 0 0;
}

.comments-list .comment,
.comments-list .bypostauthor {
	display: table;
	width: 100%;
}

.comments-list .comment .comment__avatar,
.comments-list .bypostauthor .comment__avatar {
	width: 100px;
	display: table-cell;
	vertical-align: top;
}

.comments-list .comment .comment__avatar .avatar,
.comments-list .bypostauthor .comment__avatar .avatar {
	margin: auto;
}

.comments-list .comment .comment__content,
.comments-list .bypostauthor .comment__content {
	display: table-cell;
	padding-left: 20px;
}

.comments-list .comment__reply .comment-reply-link,
.comments-list .comment__reply .comment-edit-link {
	text-transform: uppercase;
	float: right;
	padding: 4px 7px 4px 8px;
	font: 10px/1 "Lato", sans-serif;
	color: #afa376;
	border: 1px solid #afa376;
	margin: 3px 0 0 15px;
}

.comments-list .comment__reply .comment-reply-link:hover, .comments-list .comment__reply .comment-reply-link:focus,
.comments-list .comment__reply .comment-edit-link:hover,
.comments-list .comment__reply .comment-edit-link:focus {
	background: #afa376;
	color: #ffffff;
}

.comments-list .comment__author {
	margin-bottom: 0;
}

.comments-list .comment__date {
	color: #999999;
	font-size: 12px;
	margin-bottom: 6px;
}

.comments-list .comment__text {
	margin-bottom: 0;
}

.comments-list .children {
	margin-left: 80px;
}

.comment-respond {
	margin-bottom: 50px;
}

.comment-respond .comment-reply-title {
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 30px;
	letter-spacing: .16em;
	line-height: 1;
}

.comment-respond .comment-reply-title small {
	float: right;
}

.comment-respond .comment-reply-title small a {
	border: 1px solid #afa376;
	color: #afa376;
	display: block;
	font: 10px/1 "Lato", sans-serif;
	margin: -1px 0 0 15px;
	padding: 4px 7px 4px 8px;
	text-transform: uppercase;
	letter-spacing: 0;
}

.comment-respond .comment-reply-title small a:hover, .comment-respond .comment-reply-title small a:focus {
	color: #ffffff;
	background: #afa376;
}

.comment-form .logged-in-as {
	margin-bottom: 30px;
}

.comment-form .logged-in-as a {
	color: #999999;
}

.comment-form .logged-in-as a:hover, .comment-form .logged-in-as a:focus {
	color: #afa376;
	border-bottom: 1px solid #afa376;
}

.related-posts {
	position: relative;
}

.related-posts:after {
	content: "";
	left: 0;
	right: 0;
	top: 100%;
	height: 1px;
	position: absolute;
	background: url("images/bg/border-decor.png") repeat-x 0 0;
}

.related-posts .related-posts__title {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .16em;
	margin-bottom: 40px;
}

.related-posts .related-posts__list {
	position: relative;
	margin-left: -15px;
	margin-right: -15px;
	list-style-type: none;
	padding-bottom: 60px;
	margin-bottom: 60px;
}

.related-posts .related-posts__list .related-posts__list__item {
	float: left;
	width: 33.33%;
	padding: 0 15px;
}

.related-posts .related-post {
	text-align: center;
}

.related-posts .related-post .post__thumbnail {
	margin-bottom: 15px;
	transition: all 0.4s ease 0s;
}

.related-posts .related-post .post__thumbnail:hover, .related-posts .related-post .post__thumbnail:focus {
	opacity: .8;
}

.related-posts .related-post .post__title {
	margin-bottom: 12px;
	line-height: 1.3;
}

.related-posts .related-post .post__date {
	line-height: 1;
}

.related-posts .related-post .post__date a {
	font-size: 12px;
	color: #999999;
}

.related-posts .related-post .post__date a:hover, .related-posts .related-post .post__date a:focus {
	color: #afa376;
	border-bottom: 1px solid #afa376;
}

.search-result {
	letter-spacing: .04em;
	margin-bottom: 40px;
}

/* ==========================================================================
   11. Widget styles
   ========================================================================== */
iframe[src*="facebook.com"] {
	margin-bottom: 55px !important;
}

.widget {
	margin-bottom: 55px;
	padding: 30px;
	border: 1px solid #e9e9e9;
	position: relative;
}

.widget .widget__title {
	display: block;
	text-align: center;
	position: absolute;
	left: 30px;
	right: 30px;
	top: 0;
	background: #ffffff;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: .16em;
}

.widget .widget__title a {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
	text-transform: uppercase;
}

.widget .widget__title a.rsswidget img {
	margin-right: 4px;
}

.widget .widget__title + * {
	margin-top: 10px !important;
}

.widget select {
	width: 100%;
	height: 40px;
	padding: 0 4px;
	outline: none;
	font-family: "Merriweather";
	background: transparent;
}

.social-list._in-widget {
	text-align: center;
	line-height: normal;
}

.social-list._in-widget .social-list__item {
	margin: 2px 8px;
	padding: 6px 0;
}

.social-list._in-widget .social-list__item a {
	color: #000000;
	font-size: 16px;
}

.social-list._in-widget .social-list__item a:hover, .social-list._in-widget .social-list__item a:focus {
	color: #afa376;
}

.widget_archive ul,
.widget_categories ul,
.widget_meta ul,
.widget_recent_comments ul,
.widget_rss ul,
.widget_pages ul,
.widget_recent_entries ul,
.widget_nav_menu ul {
	padding: 0;
	list-style-type: none;
}

.widget_archive ul li,
.widget_categories ul li,
.widget_meta ul li,
.widget_recent_comments ul li,
.widget_rss ul li,
.widget_pages ul li,
.widget_recent_entries ul li,
.widget_nav_menu ul li {
	position: relative;
	padding: 0 0 10px;
}

.widget_archive ul li:not(:first-child),
.widget_categories ul li:not(:first-child),
.widget_meta ul li:not(:first-child),
.widget_recent_comments ul li:not(:first-child),
.widget_rss ul li:not(:first-child),
.widget_pages ul li:not(:first-child),
.widget_recent_entries ul li:not(:first-child),
.widget_nav_menu ul li:not(:first-child) {
	padding-top: 8px;
}

.widget_archive ul li:not(:first-child):before,
.widget_categories ul li:not(:first-child):before,
.widget_meta ul li:not(:first-child):before,
.widget_recent_comments ul li:not(:first-child):before,
.widget_rss ul li:not(:first-child):before,
.widget_pages ul li:not(:first-child):before,
.widget_recent_entries ul li:not(:first-child):before,
.widget_nav_menu ul li:not(:first-child):before {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: url("images/bg/border-decor.png") repeat-x 0 0;
}

.widget_archive ul li a,
.widget_categories ul li a,
.widget_meta ul li a,
.widget_recent_comments ul li a,
.widget_rss ul li a,
.widget_pages ul li a,
.widget_recent_entries ul li a,
.widget_nav_menu ul li a {
	font-size: 12px;
	color: #444444;
}

.widget_archive ul li a:hover, .widget_archive ul li a:focus,
.widget_categories ul li a:hover,
.widget_categories ul li a:focus,
.widget_meta ul li a:hover,
.widget_meta ul li a:focus,
.widget_recent_comments ul li a:hover,
.widget_recent_comments ul li a:focus,
.widget_rss ul li a:hover,
.widget_rss ul li a:focus,
.widget_pages ul li a:hover,
.widget_pages ul li a:focus,
.widget_recent_entries ul li a:hover,
.widget_recent_entries ul li a:focus,
.widget_nav_menu ul li a:hover,
.widget_nav_menu ul li a:focus {
	border-bottom: 1px solid #afa376;
	color: #afa376;
}

.widget_archive ul li .post-date,
.widget_archive ul li .rss-date,
.widget_categories ul li .post-date,
.widget_categories ul li .rss-date,
.widget_meta ul li .post-date,
.widget_meta ul li .rss-date,
.widget_recent_comments ul li .post-date,
.widget_recent_comments ul li .rss-date,
.widget_rss ul li .post-date,
.widget_rss ul li .rss-date,
.widget_pages ul li .post-date,
.widget_pages ul li .rss-date,
.widget_recent_entries ul li .post-date,
.widget_recent_entries ul li .rss-date,
.widget_nav_menu ul li .post-date,
.widget_nav_menu ul li .rss-date {
	display: inline-block;
}

.widget_text {
	text-align: center;
}

.widget_text .textwidget {
	vertical-align: middle;
	display: inline-block;
}

.widget_text img {
	margin-bottom: 10px;
}

.widget_recent_comments ul li a,
.widget_rss ul li a {
	color: #afa376;
}

.widget_recent_comments ul li a:hover, .widget_recent_comments ul li a:focus,
.widget_rss ul li a:hover,
.widget_rss ul li a:focus {
	border-bottom: 1px solid #afa376;
}

.widget_rss li .rsswidget,
.widget_rss li .rssSummary {
	font-size: 12px;
}

.tagcloud {
	margin-bottom: -8px;
}

.tagcloud a {
	display: inline-block;
	vertical-align: top;
	font: 10px/26px "Lato", sans-serif !important;
	text-transform: uppercase;
	color: #999999;
	height: 27px;
	padding: 0 10px;
	margin: 0 4px 8px 0;
	border: 1px solid #dbdbdb;
	transition: all 0.13s ease-in;
}

.tagcloud a:hover, .tagcloud a:focus {
	color: #ffffff;
	background: #afa376;
	border-color: #afa376;
}

#wp-calendar {
	width: 100%;
	font-size: 11px;
}

#wp-calendar caption {
	text-transform: uppercase;
	font-family: "Lato", sans-serif;
	font-weight: bold;
	letter-spacing: .16em;
	line-height: 1;
	margin-bottom: 15px;
	padding-bottom: 22px;
	position: relative;
	background: transparent url("images/bg/border-decor.png") repeat-x scroll center bottom;
}

#wp-calendar thead th {
	font-family: "Lato", sans-serif;
	font-size: 11px;
	font-weight: 700;
	padding: 7px;
	text-align: center;
	border: none;
}

#wp-calendar tbody td {
	padding: 5px 8px;
	text-align: center;
	border: none;
	font-family: "Lato", sans-serif;
	font-size: 12px;
	font-weight: 400;
}

#wp-calendar tbody td#today {
	background: #afa376;
	color: #ffffff;
}

#wp-calendar tbody td#today a {
	color: #ffffff;
}

#wp-calendar tfoot {
	background: transparent url("images/bg/border-decor.png") repeat-x scroll top 15px center;
}

#wp-calendar tfoot td {
	padding: 30px 0px 0;
	text-transform: uppercase;
}

#wp-calendar tfoot td a {
	display: block;
}

#wp-calendar tfoot #prev {
	text-align: left;
}

#wp-calendar tfoot #next {
	text-align: right;
}

.widget_search .site-search {
	height: 50px;
}

.mc4wp-form-fields .newsletter-text {
	font-size: 12px;
	line-height: 18px;
	margin: 20px 0 25px;
	text-align: center;
}

.mc4wp-form-fields p {
	margin-bottom: 0;
}

.mc4wp-form-fields label {
	display: none;
}

.mc4wp-form-fields input[type="email"] {
	width: 100%;
	height: 37px;
	margin-bottom: 7px;
	padding: 0 15px;
	display: block;
	border: 1px solid #dbdbdb;
	outline: medium none;
	box-shadow: none;
	font: italic 12px "Lato", sans-serif;
	letter-spacing: 1px;
	color: #999999;
	transition: border-color 0.13s ease-in;
}

.mc4wp-form-fields input[type="email"]:focus {
	border-color: #999999;
}

.mc4wp-form-fields input[type="submit"] {
	width: 100%;
	height: 37px;
	background: #afa376;
	border: none;
	cursor: pointer;
	font: 700 11px/normal "Lato", sans-serif;
	text-transform: uppercase;
	letter-spacing: .16em;
	color: #ffffff;
}

.mc4wp-form-fields .social-list {
	margin-top: 25px;
}

.mc4wp-response {
	font-size: 12px;
	text-align: center;
}

.mc4wp-response p {
	margin: 15px 0 0;
}

.instagram-feed .feed-list {
	padding: 0;
	list-style-type: none;
	margin-left: -3px;
	margin-right: -3px;
}

.instagram-feed .feed-list .feed-list__item {
	padding: 3px;
	float: left;
}

.instagram-feed .feed-list .feed-list__item a {
	display: block;
	transition: all 0.4s ease 0s;
	text-decoration: none;
}

.instagram-feed .feed-list .feed-list__item a:hover, .instagram-feed .feed-list .feed-list__item a:focus {
	opacity: .8;
}

.instagram-feed .feed-list .feed-list__item img {
	width: 100%;
	max-width: 100%;
	height: auto;
	display: block;
}

.instagram-feed .feed-list .feed-list__item._col-2 {
	width: 50%;
}

.instagram-feed .feed-list .feed-list__item._col-3 {
	width: 33.33%;
}

.instagram-feed .feed-list .feed-list__item._col-4 {
	width: 25%;
}

.instagram-feed .feed-list .feed-list__item._col-5 {
	width: 20%;
}

.feed-slider {
	height: 0;
	overflow: hidden;
	position: relative;
}

.feed-slider:hover ._instagram-feed-nav .owl-prev,
.feed-slider:hover ._instagram-feed-nav .owl-next {
	opacity: 1;
	-webkit-transform: translateX(0) translateY(-50%);
	        transform: translateX(0) translateY(-50%);
}

.footer-instagram__list {
	position: relative;
	overflow: hidden;
	height: 0;
}

.footer-instagram__list:hover .owl-nav {
	opacity: 1;
}

.footer-instagram__list .owl-nav {
	opacity: 0;
	transition: .3s;
}

.footer-instagram__list .owl-item > div {
	display: block;
	transition: all 0.3s ease-in-out;
}

.footer-instagram__list .owl-item > div:hover, .footer-instagram__list .owl-item > div:focus {
	opacity: .8;
}

._instagram-footer-nav .owl-prev,
._instagram-footer-nav .owl-next {
	height: 100%;
	background: rgba(0, 0, 0, 0.45);
	width: 50px;
}

._instagram-footer-nav .owl-prev {
	left: 0;
}

._instagram-footer-nav .owl-next {
	right: 0;
}

.posts .post__item {
	position: relative;
}

.posts .post__item:not(:last-child) {
	margin-bottom: 12px;
	padding-bottom: 13px;
}

.posts .post__item:not(:last-child):after {
	background: transparent url("images/bg/border-decor.png") repeat-x scroll 0 0;
	top: 100%;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	width: 100%;
}

.posts .post__item .post__featured {
	display: inline-block;
	vertical-align: middle;
	width: 33.33%;
	transition: all 0.4s ease 0s;
}

.posts .post__item .post__featured:hover, .posts .post__item .post__featured:focus {
	opacity: .8;
}

.posts .post__item .post__featured .image-placeholder._in-post-widget {
	font-size: 20px;
}

.posts .post__item .post__featured .image-placeholder._in-post-widget .fa {
	width: 20px;
	height: 20px;
}

.posts .post__item .post__featured + .post__content {
	max-width: 60%;
}

.posts .post__item .post__content {
	display: inline-block;
	vertical-align: top;
	padding-left: 15px;
}

.posts .post__item .post__content .post__title {
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
}

.posts .post__item .post__content .post__title a {
	border: none;
	margin: 0;
}

.posts .post__item .post__content .post__author {
	font-size: 12px;
	line-height: 1;
}

.posts .post__item .post__content .post__author a {
	color: #999999;
}

.posts .post__item .post__content .post__author a:hover, .posts .post__item .post__content .post__author a:focus {
	color: #afa376;
}

.posts .post__item .post__content .post__date {
	font-size: 12px;
}

.posts .post__item .post__content .post__date a {
	color: #999999;
}

.posts .post__item .post__content .post__date a:hover, .posts .post__item .post__content .post__date a:focus {
	color: #afa376;
}

.posts .post__item .post__content .post__title,
.posts .post__item .post__content .post__author,
.posts .post__item .post__content .post__date {
	line-height: 22px;
}

.about-me {
	text-align: center;
}

.about-me img {
	display: block;
	margin: 0 auto 20px;
}

.about-me .about-me__preview {
	border: none !important;
	display: block;
}

.about-me a:hover, .about-me a:focus {
	border-bottom: 1px solid #afa376;
}

.about-me .social-list {
	margin-top: 20px;
}

.about-me__preview {
	transition: all 0.4s ease 0s;
	display: block;
}

.about-me__preview:hover, .about-me__preview:focus {
	opacity: .8;
}

.promo-box {
	text-align: center;
	border: none;
	padding: 0;
}

.promo-box img {
	display: block;
	margin: 0 auto 20px;
}

.footer__instagram {
	position: relative;
}

.instagram-grid {
	height: auto;
}

.ri-grid-loading .follow-text {
	display: none;
}

.follow-text {
	position: absolute;
	top: 50%;
	margin-top: -25px;
	height: 50px;
	left: 0;
	right: 0;
	text-align: center;
}

.follow-text a {
	padding: 10px 20px;
	display: inline-block;
	color: #ffffff;
	font-size: 17px;
	font-family: "Lato", sans-serif;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 2px;
	position: relative;
	z-index: 2;
}

.follow-text .fa {
	font-size: 20px;
	color: #afa376;
	margin: -1px 10px 0 0;
	display: inline-block;
	vertical-align: middle;
}

.instagram-grid ul {
	list-style: none;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

.instagram-grid ul li {
	-webkit-perspective: 400px;
	        perspective: 400px;
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	display: block;
	overflow: hidden;
	transition: opacity 0.3s ease-in-out;
	z-index: 1;
}

.instagram-grid ul li:hover, .instagram-grid ul li:focus {
	opacity: .8;
}

.instagram-grid ul li a {
	cursor: pointer !important;
	display: block;
	outline: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #333;
}

.ri-loading-image {
	display: none;
}

.widget_nav_menu .sub-menu {
	padding-top: 8px;
}

.widget_nav_menu .sub-menu li {
	padding-left: 10%;
}

.widget_nav_menu .sub-menu li:last-child {
	padding-bottom: 0;
}

.widget.contact-us input[type="email"],
.widget.contact-us input[type="text"],
.widget.contact-us textarea {
	margin-bottom: 7px;
	width: 100%;
	font: italic 12px "Lato", sans-serif;
	color: #999999;
	outline: medium none;
	letter-spacing: 1px;
	box-shadow: none;
	border: 1px solid #dbdbdb;
	transition: border-color 0.13s ease-in;
}

.widget.contact-us input[type="email"]:focus,
.widget.contact-us input[type="text"]:focus,
.widget.contact-us textarea:focus {
	border-color: #999999;
}

.widget.contact-us textarea {
	height: 110px;
}

.widget.contact-us input[type="email"],
.widget.contact-us input[type="text"] {
	height: 37px;
	padding: 0 15px;
}

.widget.contact-us p {
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 0;
	text-transform: none;
	font-weight: 400;
	text-align: center;
	letter-spacing: normal;
	font-family: 'Merriweather', serif;
}

.widget.contact-us .wpcf7 {
	margin-top: 0 !important;
	padding-top: 15px;
}

.widget.contact-us input[type="submit"] {
	margin-top: 13px;
	min-width: 130px;
	color: #fff;
	background-color: #afa376;
}

.widget.contact-us .wpcf7-not-valid-tip {
	padding-bottom: 7px;
	text-align: left;
}

.widget.contact-us .wpcf7-response-output {
	display: none !important;
}

/* ==========================================================================
   12. Footer styles
   ========================================================================== */
.footer {
	margin-top: 35px;
}

.footer .footer__widget-area {
	padding-top: 40px;
}

.footer .footer__social-bar {
	background: #000000;
}

.footer .footer__bottom-panel {
	padding: 38px 0;
	background: #000000;
}

.footer .footer__bottom-panel .copyright {
	float: left;
}

.footer .footer__bottom-panel .designed {
	float: right;
}

.footer .footer__bottom-panel .designed a {
	color: #ffffff;
}

.footer .footer__bottom-panel .designed a:hover, .footer .footer__bottom-panel .designed a:focus {
	color: #afa376;
	border-bottom: 1px solid #afa376;
}

.footer .footer__bottom-panel p {
	color: #999999;
	margin-bottom: 0;
}

.footer ._in-footer-social-bar {
	text-align: center;
	overflow: hidden;
}

.footer ._in-footer-social-bar .social-list__item {
	margin: 42px 13px;
}

.footer ._in-footer-social-bar .fa {
	color: #afa376;
	margin: 0 5px;
}

.footer ._in-footer-social-bar span {
	font-size: 11px;
	font-family: "Lato", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .16em;
}

/* ==========================================================================
   13. Error styles
   ========================================================================== */
.error {
	padding: 50px 0 120px;
	text-align: center;
}

.error .error__header {
	margin-bottom: 70px;
}

.error .error__number {
	display: inline-block;
	font: italic 80px/normal "Lato", sans-serif;
}

.error .error__desc {
	display: inline-block;
	font: 30px/1 "Merriweather";
	padding-left: 27px;
	text-align: left;
}

.error .error__desc .different-text {
	font-style: italic;
	display: block;
	margin-left: 23px;
}

.error .error__text {
	font-size: 14px;
	line-height: 24px;
	font-style: italic;
}

.error ._in-404 {
	width: 40px;
	margin: 35px auto 40px;
	background: #dbdbdb;
}

.error .error__search {
	text-align: left;
	width: 330px;
	margin: auto;
}

.error .error__search .site-search {
	height: 50px;
}

.error .error__search .site-search .site-search__field {
	padding-left: 20px;
	width: 83.63%;
}

.error .error__search .site-search .site-search__button {
	width: 16.06%;
}

/* ==========================================================================
   14. Media Queries
   ========================================================================== */
@media (min-width: 992px) {
	/* Header Menu styles ----------------------*/
	.menu-list {
		list-style-type: none;
		padding: 0 20px;
		position: relative;
		text-align: center;
	}
	.menu-list:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 1px;
		width: 100%;
		background: url("images/bg/border-decor.png") repeat-x;
	}
	.menu-list > ul > li {
		margin: 0 19px;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		position: relative;
	}
	.menu-list > ul > li > a {
		font: 11px/1.8 "Lato", sans-serif;
		padding: 15px 0;
		letter-spacing: .16em;
		font-weight: bold;
		text-transform: uppercase;
		display: table-cell;
		height: 64px;
		vertical-align: middle;
		position: relative;
		color: #000000;
		transition: all 0.13s ease-in;
	}
	.menu-list > ul > li > a:hover, .menu-list > ul > li > a:focus {
		color: #afa376;
	}
	.menu-list > ul > .current-menu-item > a {
		color: #afa376;
	}
	.menu-list .menu-item-has-children > a:before {
		content: "•";
		font-size: 5px;
		position: absolute;
		left: -10px;
		padding-right: 10px;
		border-radius: 50%;
		top: 50%;
		-webkit-transform: translateY(-50%);
		        transform: translateY(-50%);
	}
	.menu-list .menu-item-has-children {
		cursor: pointer;
	}
	.menu-list .menu-item-has-children:hover > .sub-menu {
		opacity: 1;
		visibility: visible;
		-webkit-transform: translate3d(0, 0, 0);
		        transform: translate3d(0, 0, 0);
		transition-delay: 0s;
	}
	.sub-menu .menu-item-has-children {
		cursor: pointer;
	}
	.sub-menu .menu-item-has-children:hover > .sub-menu, .sub-menu .menu-item-has-children:focus > .sub-menu {
		left: 100%;
	}
	.menu-list > ul > .menu-item-has-children > .sub-menu:after {
		content: ".";
		text-indent: -9999px;
		width: 0;
		height: 0;
		position: absolute;
		bottom: 100%;
		left: 0;
		right: 0;
		margin: auto;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 7px solid #000000;
	}
	.menu-list .sub-menu {
		position: absolute;
		list-style-type: none;
		background: #000000;
		top: 100%;
		left: 50%;
		margin-left: -110px;
		padding: 0;
		opacity: 0;
		visibility: hidden;
		transition: visibility 0s linear 0.2s,opacity 0.2s linear, -webkit-transform 0.2s linear;
		transition: visibility 0s linear 0.2s,opacity 0.2s linear, transform 0.2s linear;
		transition: visibility 0s linear 0.2s,opacity 0.2s linear, transform 0.2s linear,-webkit-transform 0.2s linear;
		-webkit-transform: translate3d(0, 20px, 0);
		        transform: translate3d(0, 20px, 0);
		width: 220px;
		z-index: 1;
	}
	.menu-list .sub-menu li {
		position: relative;
	}
	.menu-list .sub-menu li a {
		font: bold 11px/18px "Lato", sans-serif;
		text-transform: uppercase;
		padding: 14px 15px 13px;
		letter-spacing: .16em;
		display: block;
		color: #ffffff;
		transition: color .13s ease-in, background .3s linear;
	}
	.menu-list .sub-menu li:hover > a,
	.menu-list .sub-menu li:focus > a {
		color: #afa376;
		background: #151515;
	}
	.menu-list .sub-menu .menu-item-has-children > a:before {
		padding-right: 0;
		position: relative;
		left: -7px;
		top: -1px;
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
	}
	.menu-list .sub-menu .current-menu-item > a {
		color: #afa376;
		background: #151515;
	}
	.menu-list .sub-menu .sub-menu {
		top: 0 !important;
		left: -9999px;
		-webkit-transform: translate3d(20px, 0, 0);
		        transform: translate3d(20px, 0, 0);
		margin-left: 0;
	}
	.sticky-menu {
		position: relative;
		z-index: 1000;
	}
	.sticky-menu._fixed {
		position: fixed;
		background: #ffffff;
		transition: box-shadow .2s linear;
		left: 0;
		width: 100%;
		padding: 0 20px;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
		top: 0;
	}
	.sticky-menu._fixed:before {
		display: none;
	}
	body.admin-bar .sticky-menu._fixed {
		top: 32px;
	}
	.menu-toggle {
		display: none;
	}
	.header-bg-overlay .menu-list:not(._fixed) > ul > li:not(.current-menu-item) > a {
		color: #ffffff;
	}
	.header-bg-overlay .menu-list:not(._fixed) > ul > li:not(.current-menu-item) > a:hover, .header-bg-overlay .menu-list:not(._fixed) > ul > li:not(.current-menu-item) > a:focus {
		color: #afa376;
	}
	.header-bg-overlay .menu-list:before {
		background: url("images/bg/border-decor_white.png") repeat-x;
	}
	/* Slider styles -------------------------*/
	.animate-nav .owl-nav__arrow {
		position: absolute;
		width: 100%;
		top: 50%;
		-webkit-transform: translateY(-50%);
		        transform: translateY(-50%);
		left: 0;
		z-index: 2;
		font-size: 35px;
	}
	.animate-nav .owl-prev,
	.animate-nav .owl-next {
		border: none;
	}
	.animate-nav .owl-prev:hover,
	.animate-nav .owl-next:hover {
		background: none;
	}
	.animate-nav .owl-prev:hover .owl-nav__arrow,
	.animate-nav .owl-next:hover .owl-nav__arrow {
		color: #ffffff;
	}
	.animate-nav .owl-nav__preview {
		-webkit-backface-visibility: hidden;
		        backface-visibility: hidden;
	}
	._animate_diamond .owl-prev,
	._animate_diamond .owl-next {
		width: 65px;
		height: 65px;
		line-height: 64px;
	}
	._animate_diamond .owl-prev .owl-nav__preview-wrap,
	._animate_diamond .owl-next .owl-nav__preview-wrap {
		-webkit-transform: scale(0.6);
		        transform: scale(0.6);
		transition: -webkit-transform 0.3s;
		transition: transform 0.3s;
		transition: transform 0.3s, -webkit-transform 0.3s;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	._animate_diamond .owl-prev .owl-nav__preview-wrap .owl-nav__preview,
	._animate_diamond .owl-next .owl-nav__preview-wrap .owl-nav__preview {
		position: absolute;
		top: 50%;
		left: 50%;
		opacity: 0;
		transition: opacity 0.3s, background-image 0.4s, -webkit-transform 0.3s;
		transition: opacity 0.3s, transform 0.3s, background-image 0.4s;
		transition: opacity 0.3s, transform 0.3s, background-image 0.4s, -webkit-transform 0.3s;
		width: 150px;
		height: 150px;
		background-size: cover;
	}
	._animate_diamond .owl-prev:hover .owl-nav__preview,
	._animate_diamond .owl-next:hover .owl-nav__preview {
		opacity: .9;
	}
	._animate_diamond .owl-prev {
		left: 30px;
	}
	._animate_diamond .owl-prev .owl-nav__preview-wrap .owl-nav__preview {
		-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg) scale(2);
		        transform: translateX(-50%) translateY(-50%) rotate(45deg) scale(2);
	}
	._animate_diamond .owl-prev:hover .owl-nav__preview-wrap {
		-webkit-transform: scale(1) rotate(-45deg);
		        transform: scale(1) rotate(-45deg);
	}
	._animate_diamond .owl-prev:hover .owl-nav__preview-wrap .owl-nav__preview {
		-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg) scale(1);
		        transform: translateX(-50%) translateY(-50%) rotate(45deg) scale(1);
	}
	._animate_diamond .owl-next {
		right: 30px;
	}
	._animate_diamond .owl-next .owl-nav__preview-wrap .owl-nav__preview {
		-webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg) scale(2);
		        transform: translateX(-50%) translateY(-50%) rotate(-45deg) scale(2);
	}
	._animate_diamond .owl-next:hover .owl-nav__preview-wrap {
		-webkit-transform: scale(1) rotate(45deg);
		        transform: scale(1) rotate(45deg);
	}
	._animate_diamond .owl-next:hover .owl-nav__preview-wrap .owl-nav__preview {
		-webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg) scale(1);
		        transform: translateX(-50%) translateY(-50%) rotate(-45deg) scale(1);
	}
	._animate_circle_slide .owl-prev,
	._animate_circle_slide .owl-next {
		width: 65px;
		height: 65px;
		line-height: 64px;
	}
	._animate_circle_slide .owl-prev .owl-nav__preview-wrap,
	._animate_circle_slide .owl-next .owl-nav__preview-wrap {
		overflow: hidden;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: #999999;
		border-radius: 50%;
		-webkit-transform: scale(0.7);
		        transform: scale(0.7);
		opacity: 0;
		transition: opacity 0.3s, background-color 0.1s 0s, -webkit-transform 0.3s;
		transition: transform 0.3s, opacity 0.3s, background-color 0.1s 0s;
		transition: transform 0.3s, opacity 0.3s, background-color 0.1s 0s, -webkit-transform 0.3s;
	}
	._animate_circle_slide .owl-prev .owl-nav__preview-wrap .owl-nav__preview,
	._animate_circle_slide .owl-next .owl-nav__preview-wrap .owl-nav__preview {
		display: block;
		border-radius: 50%;
		transition: background-image 0.4s, -webkit-transform 0.3s;
		transition: transform 0.3s, background-image 0.4s;
		transition: transform 0.3s, background-image 0.4s, -webkit-transform 0.3s;
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 100%;
	}
	._animate_circle_slide .owl-prev:hover .owl-nav__preview-wrap,
	._animate_circle_slide .owl-next:hover .owl-nav__preview-wrap {
		opacity: 1;
		background-color: transparent;
		-webkit-transform: scale(1);
		        transform: scale(1);
		transition: opacity 0.3s, background-color 0.1s 0.2s, -webkit-transform 0.3s;
		transition: transform 0.3s, opacity 0.3s, background-color 0.1s 0.2s;
		transition: transform 0.3s, opacity 0.3s, background-color 0.1s 0.2s, -webkit-transform 0.3s;
	}
	._animate_circle_slide .owl-prev:hover .owl-nav__preview,
	._animate_circle_slide .owl-next:hover .owl-nav__preview {
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
	._animate_circle_slide .owl-prev {
		left: 30px;
	}
	._animate_circle_slide .owl-prev .owl-nav__preview {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	._animate_circle_slide .owl-next {
		right: 30px;
	}
	._animate_circle_slide .owl-next .owl-nav__preview {
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
	._animate_thumb_flip .owl-prev,
	._animate_thumb_flip .owl-next {
		width: 80px;
		height: 80px;
		line-height: 99px;
		background: rgba(0, 0, 0, 0.3);
	}
	._animate_thumb_flip .owl-prev:hover,
	._animate_thumb_flip .owl-next:hover {
		background: #ffffff;
	}
	._animate_thumb_flip .owl-prev:hover .owl-nav__arrow,
	._animate_thumb_flip .owl-next:hover .owl-nav__arrow {
		color: #000000;
	}
	._animate_thumb_flip .owl-prev:hover .owl-nav__preview-wrap,
	._animate_thumb_flip .owl-next:hover .owl-nav__preview-wrap {
		-webkit-transform: rotateY(0deg);
		        transform: rotateY(0deg);
	}
	._animate_thumb_flip .owl-prev .owl-nav__preview-wrap,
	._animate_thumb_flip .owl-next .owl-nav__preview-wrap {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		transition: -webkit-transform 0.3s;
		transition: transform 0.3s;
		transition: transform 0.3s, -webkit-transform 0.3s;
	}
	._animate_thumb_flip .owl-prev .owl-nav__preview-wrap .owl-nav__preview,
	._animate_thumb_flip .owl-next .owl-nav__preview-wrap .owl-nav__preview {
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		transition: background-image 0.4s;
	}
	._animate_thumb_flip .owl-prev {
		left: 0px;
	}
	._animate_thumb_flip .owl-prev .owl-nav__preview-wrap {
		left: 100%;
		-webkit-transform: rotateY(90deg);
		        transform: rotateY(90deg);
		-webkit-transform-origin: 0% 50%;
		        transform-origin: 0% 50%;
	}
	._animate_thumb_flip .owl-next {
		right: 0px;
	}
	._animate_thumb_flip .owl-next .owl-nav__preview-wrap {
		right: 100%;
		-webkit-transform: rotateY(-90deg);
		        transform: rotateY(-90deg);
		-webkit-transform-origin: 100% 50%;
		        transform-origin: 100% 50%;
	}
	._animate_image_bar .owl-prev,
	._animate_image_bar .owl-next {
		width: 70px;
		height: 90%;
		top: 50%;
		-webkit-transform: translateY(-50%);
		        transform: translateY(-50%);
		overflow: hidden;
		transition: background-color 0.3s;
	}
	._animate_image_bar .owl-prev:hover,
	._animate_image_bar .owl-next:hover {
		background-color: rgba(255, 255, 255, 0.7);
	}
	._animate_image_bar .owl-prev:hover .owl-nav__preview-wrap,
	._animate_image_bar .owl-next:hover .owl-nav__preview-wrap {
		-webkit-transform: translateX(0);
		        transform: translateX(0);
		opacity: .7;
	}
	._animate_image_bar .owl-prev {
		left: 0px;
	}
	._animate_image_bar .owl-prev .owl-nav__preview-wrap {
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
	._animate_image_bar .owl-next {
		right: 0px;
	}
	._animate_image_bar .owl-next .owl-nav__preview-wrap {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	._animate_image_bar .owl-nav__preview-wrap {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity 0.3s, -webkit-transform 0.3s;
		transition: opacity 0.3s, transform 0.3s;
		transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
	}
	._animate_image_bar .owl-nav__preview-wrap .owl-nav__preview {
		height: 100%;
		width: 100%;
		background-size: cover;
		background-position: center;
		transition: background-image 0.4s ease 0s;
	}
	.apposition-wrapper._with-sidebar .apposition-image {
		left: 0;
		max-width: none;
	}
	.apposition-wrapper._with-sidebar .apposition-image img {
		width: 100%;
	}
	.apposition-wrapper._with-sidebar .apposition-content {
		width: 75%;
	}
}

@media (max-width: 1200px) {
	/* Slider styles ----------------------*/
	.entry-slider {
		height: 435px;
	}
	.entry-slider .slide .slide__featured {
		height: 435px;
	}
	/* Featured Blocks ----------------------*/
	.popular-post .popular-post__image {
		height: 195px;
	}
	/* Post styles ----------------------*/
	.content-box-overlay {
		padding-left: 26px;
		padding-right: 26px;
	}
	.content-box-overlay .content-box {
		padding: 65px 45px 0;
		top: -65px;
	}
	/* Widget styles ----------------------*/
	#wp-calendar tbody td {
		padding: 2px 6px;
	}
}

@media (max-width: 991px) {
	.scroll-to-top {
		display: none;
	}
	/* Header Menu styles ----------------------*/
	body._fixed {
		position: fixed;
		width: 100%;
		height: 100%;
	}
	body.admin-bar .mob-menu-overlay {
		padding-bottom: 46px;
	}
	.header-bg-overlay .menu-toggle .menu-toggle__line, .header-bg-overlay .menu-toggle:before, .header-bg-overlay .menu-toggle:after {
		background: #ffffff;
	}
	.header {
		padding: 0px 15px;
		width: 750px;
		margin: auto;
	}
	.site-brand {
		padding: 40px 0;
	}
	.top-bar__right .site-search {
		transition: none;
	}
	._menu-open {
		position: fixed;
		overflow-y: scroll;
		overflow-x: hidden;
		height: 100%;
		width: 100%;
		background: #000000;
		z-index: 3;
	}
	._menu-open .mob-menu-overlay {
		position: relative;
		left: inherit;
		-webkit-transform: scale(1);
		        transform: scale(1);
		opacity: 1;
	}
	._menu-open .top-bar,
	._menu-open .top-bar__right .site-search,
	._menu-open .site-search .site-search__button {
		background-color: transparent;
	}
	._menu-open .site-search._focus,
	._menu-open .site-search._focus .site-search__button {
		background-color: #101010;
	}
	.mob-menu-overlay {
		display: block;
		position: absolute;
		left: -999px;
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
		opacity: 0;
		transition: opacity .4s linear, -webkit-transform .4s ease;
		transition: transform .4s ease, opacity .4s linear;
		transition: transform .4s ease, opacity .4s linear, -webkit-transform .4s ease;
	}
	.mob-menu-overlay ul {
		list-style-type: none;
	}
	.mob-menu-overlay .menu-list {
		text-align: center;
	}
	.mob-menu-overlay .menu-list > ul > .menu-item {
		padding: 30px 0;
		border-top: 1px solid #222222;
	}
	.mob-menu-overlay .menu-list li a {
		font: 11px/18px "Lato", sans-serif;
		text-transform: uppercase;
		padding: 10px 0;
		display: inline-block;
		letter-spacing: .16em;
		color: #ffffff;
	}
	.mob-menu-overlay .menu-list .sub-menu a {
		color: #999999;
	}
	.mob-menu-overlay .menu-list .current-menu-item > a {
		color: #afa376;
	}
	.menu-toggle {
		display: block;
		position: absolute;
		width: 20px;
		top: 0;
		left: 20px;
		bottom: 0;
		height: 16px;
		margin: auto;
		cursor: pointer;
		z-index: 2;
	}
	.menu-toggle .menu-toggle__line {
		margin: 6px 0;
		height: 4px;
		background: #000000;
		display: block;
		transition: opacity .4s 0 ease;
	}
	.menu-toggle:after, .menu-toggle:before {
		content: "";
		width: 100%;
		height: 4px;
		left: 0;
		background: #000000;
		position: absolute;
		transition: top .2s .2s ease, bottom .2s .2s ease, -webkit-transform .2s ease;
		transition: top .2s .2s ease, bottom .2s .2s ease, transform .2s ease;
		transition: top .2s .2s ease, bottom .2s .2s ease, transform .2s ease, -webkit-transform .2s ease;
	}
	.menu-toggle:after {
		top: 0;
	}
	.menu-toggle:before {
		bottom: 0;
	}
	.menu-toggle._active .menu-toggle__line {
		opacity: 0;
		background: #ffffff;
	}
	.menu-toggle._active:after, .menu-toggle._active:before {
		transition: top .2s ease, bottom .2s ease, -webkit-transform .2s .2s ease;
		transition: top .2s ease, bottom .2s ease, transform .2s .2s ease;
		transition: top .2s ease, bottom .2s ease, transform .2s .2s ease, -webkit-transform .2s .2s ease;
		background: #ffffff;
	}
	.menu-toggle._active:after {
		top: 6px;
		-webkit-transform: rotate3d(0, 0, 1, 45deg);
		        transform: rotate3d(0, 0, 1, 45deg);
	}
	.menu-toggle._active:before {
		bottom: 6px;
		-webkit-transform: rotate3d(0, 0, 1, -45deg);
		        transform: rotate3d(0, 0, 1, -45deg);
	}
	/* Slider styles ----------------------*/
	.entry-slider {
		height: 330px;
	}
	.entry-slider .slide .slide__featured {
		height: 330px;
	}
	.entry-slider .slide .slide__category {
		padding-bottom: 10px;
		padding-top: 15px;
	}
	.entry-slider .slide .slide__title {
		margin-top: 30px;
		margin-bottom: 10px;
	}
	.entry-slider .slide .slide__date {
		margin-bottom: 55px;
	}
	/* Featured Blocks ----------------------*/
	.popular-post .popular-post__image {
		height: 148.5px;
	}
	.popular-post .popular-post__content {
		height: 80px;
		padding: 16px 20px;
		left: 7%;
		right: 7%;
	}
	.popular-post .popular-post__content .popular-post__title {
		font-size: 13px;
		margin-bottom: 7px;
	}
	/* Content Layout styles ----------------------*/
	.content {
		margin-top: 45px;
	}
	.content .content__primary {
		width: 100%;
		float: none;
	}
	.content .content__primary._align-right {
		float: none;
	}
	.content .sidebar {
		float: none;
		width: 400px;
		margin: auto;
	}
	/* Post styles ----------------------*/
	._full-width .grid-list .grid-list__item {
		width: 50%;
	}
	.content-box-overlay {
		padding-left: 20px;
		padding-right: 20px;
	}
	.content-box-overlay .content-box {
		padding: 50px 33px 0;
		top: -50px;
	}
	.post._type-apposition {
		margin-bottom: 35px;
	}
	.apposition-image {
		position: relative;
		max-width: none;
	}
	.apposition-image .post__thumbnail img {
		height: auto;
		max-width: 100%;
	}
	.apposition-content {
		width: 100%;
		margin: 0;
	}
	/* Widget styles ----------------------*/
	#wp-calendar tbody td {
		padding: 8px;
	}
	.follow-text a {
		font-size: 20px;
		padding: 8px 16px;
	}
}

@media (max-width: 767px) {
	/* Post styles ----------------------*/
	.post__content .gallery {
		margin-bottom: 25px;
	}
	.post__content .gallery.gallery-columns-1 .gallery-item, .post__content .gallery.gallery-columns-2 .gallery-item, .post__content .gallery.gallery-columns-3 .gallery-item, .post__content .gallery.gallery-columns-4 .gallery-item, .post__content .gallery.gallery-columns-5 .gallery-item, .post__content .gallery.gallery-columns-6 .gallery-item, .post__content .gallery.gallery-columns-7 .gallery-item, .post__content .gallery.gallery-columns-8 .gallery-item, .post__content .gallery.gallery-columns-9 .gallery-item {
		width: 100%;
	}
	.post._format-quote._type-grid {
		height: auto;
		padding: 50px 45px;
	}
	.content-box-overlay {
		padding-left: 0;
		padding-right: 0;
	}
	.content-box-overlay .content-box {
		top: 0;
		padding: 40px 30px;
	}
	.post .post__info a {
		display: inline-block;
		margin-bottom: 10px;
	}
	.post .post__content {
		margin-top: 25px;
	}
	.post._format-quote {
		padding: 40px 30px;
	}
	.apposition-content {
		padding: 40px 30px;
	}
	/* Top bar styles ----------------------*/
	.top-bar__right {
		width: 100%;
	}
	.top-bar__right .site-search {
		margin-right: -15px;
		margin-left: -15px;
		width: auto;
	}
	.top-bar__right .site-search .site-search__button {
		width: 60px;
	}
	/* Header Menu styles ----------------------*/
	.header-bg-overlay + .container .slider-wrapper {
		margin-top: 30px;
	}
	#wpadminbar {
		position: fixed;
	}
	.header {
		width: 100%;
	}
	.site-brand {
		max-width: 160px;
		margin: auto;
	}
	.mob-menu {
		padding: 10px 0 20px;
	}
	body.admin-bar .mob-menu {
		padding-bottom: 56px;
	}
	/* Slider styles ----------------------*/
	.entry-slider {
		height: 200px;
	}
	.entry-slider .slide .slide__content__inner {
		max-width: 90%;
	}
	.entry-slider .slide .slide__featured {
		height: 200px;
	}
	.entry-slider .slide .slide__category {
		padding-bottom: 10px;
		padding-top: 0;
	}
	.entry-slider .slide .slide__category a {
		font-size: 10px;
	}
	.entry-slider .slide .slide__title {
		margin-top: 5px;
		margin-bottom: 10px;
		font-size: 17px;
	}
	.entry-slider .slide .slide__date {
		margin-bottom: 0;
	}
	.entry-slider .slide .slide__date:before, .entry-slider .slide .slide__date:after {
		width: 35px;
	}
	.entry-slider .slide .slide__date:before {
		left: -10px;
	}
	.entry-slider .slide .slide__date:after {
		left: 10px;
	}
	.entry-slider .slide .slide__date a {
		font-size: 11px;
	}
	.entry-slider .owl-prev,
	.entry-slider .owl-next {
		width: 25px;
		height: 35px;
		line-height: 35px;
	}
	.entry-slider .owl-prev {
		left: 10px;
	}
	.entry-slider .owl-next {
		right: 10px;
	}
	.owl-controls .owl-prev,
	.owl-controls .owl-next {
		font-size: 15px;
	}
	/* Featured Blocks ----------------------*/
	.popular-post {
		margin-top: 30px;
	}
	.popular-post .popular-post__image {
		height: 200px;
	}
	/* Content Layout styles ----------------------*/
	.content {
		margin-top: 35px;
		margin-bottom: 15px;
	}
	.content .sidebar {
		width: 100%;
	}
	/* Post styles ----------------------*/
	.grid-list .grid-list__item {
		width: 100% !important;
	}
	.post .post__header {
		margin-bottom: 25px;
	}
	.post._type-grid .post__thumbnail img {
		width: 100%;
	}
	.post__author-bio {
		padding: 50px 0;
	}
	.social-list._in-author-bio {
		text-align: center;
	}
	.social-list._in-author-bio .social-list__item {
		margin: 0 5px;
	}
	.nav-links {
		margin-bottom: 50px;
	}
	.image-placeholder._in-related-post {
		margin-bottom: 10px;
	}
	.related-posts .related-posts__title {
		margin-bottom: 30px;
	}
	.related-posts .related-posts__list {
		white-space: normal;
		padding-bottom: 0;
		margin-bottom: 40px;
	}
	.related-posts .related-posts__list:after {
		left: 15px;
		right: 15px;
	}
	.related-posts .related-posts__list .related-posts__list__item {
		width: 100%;
		margin-bottom: 40px;
	}
	.related-posts .related-post .post__title {
		font-size: 15px;
		margin-bottom: 5px;
	}
	.comments {
		margin-bottom: 50px;
	}
	.comments .comments__title {
		margin-bottom: 40px;
	}
	.comments-list .comments-list__item {
		padding-bottom: 25px;
		margin-bottom: 25px;
	}
	.comments-list .children {
		margin-left: 5px;
	}
	.comments-list .comment .comment__avatar {
		width: 70px;
	}
	.comments-list .comment .comment__avatar .avatar {
		max-width: 70px;
	}
	.comment-edit-link {
		display: none;
	}
	.comment-respond {
		margin-bottom: 40px;
	}
	.comment-respond .comment-reply-title {
		margin-bottom: 20px;
	}
	.comment-respond .comment-reply-title small a {
		font-size: 10px;
		padding-top: 5px;
	}
	.comment-form .logged-in-as {
		margin-bottom: 20px;
	}
	.control-label {
		padding: 10px 15px 0;
		text-align: left;
	}
	.wpcf7-form .wpcf7-text {
		width: 100%;
	}
	/* Widget styles ----------------------*/
	.widget {
		padding: 25px;
		margin-bottom: 30px;
	}
	#wp-calendar tbody td {
		padding: 5px 8px;
	}
	.follow-text {
		display: none;
	}
	/* Footer styles ----------------------*/
	.footer {
		margin-top: 0;
	}
	.footer .footer__bottom-panel {
		text-align: center;
		padding: 20px;
	}
	.footer .footer__bottom-panel .copyright,
	.footer .footer__bottom-panel .designed {
		float: none;
	}
	.footer ._in-footer-social-bar .social-list__item {
		display: block;
		margin: 30px 13px;
	}
	/* Error styles ----------------------*/
	.error {
		padding: 30px 0 80px;
	}
	.error .error__header {
		margin-bottom: 40px;
	}
	.error .error__number {
		font-size: 70px;
	}
	.error .error__desc {
		font-size: 25px;
		padding-left: 10px;
	}
	.error .error__text {
		font-size: 13px;
		line-height: 22px;
	}
	.error ._in-404 {
		margin: 25px auto 30px;
	}
	.error .error__search {
		width: 95%;
	}
}

/*# sourceMappingURL=maps/style.css.map */
