/*
Theme Name: Rococo
Theme URI: devmo.nobrand.team/rococo
Description: A WordPress Blog Theme
Author: Nobrand
Author URI: http://www.nobrand.team/
Version: 1.0
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: one-column, two-columns, three-columns, right-sidebar, fluid-layout , custom-menu, custom-colors, featured-images, post-formats, sticky-post, threaded-comments, translation-ready
*/

@import "variables.scss";

/**
 * 1. Reset default styles
 * 2. Clearfix
 * 3. Global styles
 * 4. Typography styles
 * 5. TinyMCE styles
 * 6. Top bar styles
 * 7. Header Menu styles
 * 8. Slider styles
 * 9. Content Layout styles
 * 10. Post styles
 * 11. Widget styles
 * 12. Footer styles
 * 13. Error styles
 * 14. Media Queries
 */

/* ==========================================================================
   1. Reset default styles
   ========================================================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: none; 
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

blockquote {
    quotes: none;
}

blockquote:before, blockquote:after {
    content: '';
    content: none;
}

del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: medium none;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 30px;
}

table tbody tr:hover,
table tbody tr:hover {
    background: #f5f5f5;
}

table th {
    border: 0;
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #e9e9e9;
    font-family: $baseHeadingFonts;
    font-size: 15px;
}

table td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #e9e9e9;
    font-size: 12px;
}

a img {
    border: none;
}

figure {
    margin: 0;
}

img,
.wp-caption {
    max-width: 100%;
    height: auto;
}

iframe {
    max-width: 100%;
}

input,
textarea,
button {
    // For -webkit
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -webkit-border-radius:0px;
}

pre {
    overflow: auto;
    background-color: #F1F1F1;
    border: 1px solid #eaeaea;
    border: 1px solid rgba(51, 51, 51, 0.1);
    line-height: 1.2;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 0.8em;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

sub {
    vertical-align: bottom;
}

sup {
    vertical-align: super;
}

.loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    transition: height 1s ease;
    z-index: 10;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #fdfdfd;
        z-index: 2;
    }
    &:after {
        content: "";
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -20px;
        margin-left: -20px;
        background-color: #ffffff;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        animation: 1s ease-in-out 0s normal none infinite running tp-scaleout;
        z-index: 3;
    }
}

@keyframes tp-scaleout {
    0% {
        transform: scale(0);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

/* ==========================================================================
   2. Clearfix
   ========================================================================== */

.header,
.social-list,
.content,
.nav-links,
.form-group,
.post__content,
.widget__list,
.feed-list,
.related-posts__list,
._type-apposition,
.instagram-grid ul,
hr,
{
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

* {
	display: none;
}

/* ==========================================================================
   3. Global styles
   ========================================================================== */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &::selection {
        background: darken($primary, 8%);
        color: #ffffff;
    }
    &::-moz-selection {
        background: darken($primary, 8%);
        color: #ffffff;
    }
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: 400 13px/1.84615384 $baseFonts;
    color: $gray-dark;
    min-width: 320px;

    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

a {
    color: $primary;
    text-decoration: none;
}

img {
    display: block;
    margin: 0;
}

.btn,
input.wpcf7-submit {
    font: 700 11px/15px $baseHeadingFonts;
    text-transform: uppercase;
    letter-spacing: .16em;
    color: $primary;
    padding: 10px 20px;
    border: 1px solid $primary;
    display: inline-block;
    @include transition(all);
    background: transparent;
    cursor: pointer;
    width: auto;
    &:hover,
    &:focus {
        background: $primary;
        color: #ffffff;
    }
}

.form-group {
    margin-bottom: 15px;
}

.control-label {
    text-align: right;
    padding: 10px 5px 0;
}

label,
.wpcf7-form {
    font: bold 11px/2 $baseHeadingFonts;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: $dark;
    display: block;
}

span.required {
    color: red;
    font-size: 10px;
}

.form-control,
.wpcf7-form-control {
    height: 40px;
    padding: 0 10px;
    max-width: 100%;
    width: 100%;
    font: 13px/normal $baseFonts;
    border: 1px solid $gray-lighter;
    @include transition(border-color);
    color: $gray;
    &:focus {
        outline: none;
        border-color: $gray;
    }
}

textarea.form-control,
.wpcf7-textarea {
    height: auto;
    max-width: 100%;
    width: 100%;
    min-height: 40px;
    padding: 10px 15px;
    margin: 0;
    vertical-align: top;
    overflow: auto;
    font-size: 13px;
    line-height: 24px;
    color: $gray;
}

.wpcf7-form {
    p {
        margin-bottom: 15px;
    }
    .wpcf7-not-valid-tip {
        color: #c0392b;
    }
    .ajax-loader {
        display: none;
    }
    .wpcf7-text {
        width: 55%;
    }
    .wpcf7-validation-errors {
        margin: 0 0 2em;
        padding: 8px 8px 6px;
        border: none;
        background: $primary;
    }
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}

#wpadminbar .screen-reader-shortcut,
.screen-reader-shortcut {
    position: absolute;
    top: -1000em;
    &:focus {
        left: 6px;
        top: 9px;
        height: auto;
        width: auto;
        z-index: 100000;
        display: block;
        padding: 15px 23px 14px;
        background: $primary;
        box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
        font: normal 11px/normal $baseHeadingFonts;
        letter-spacing: .16em;
        text-decoration: none;
        text-transform: uppercase;
        color: #ffffff;
    }
}

.image-placeholder {
    position: relative;
    color: #cccccc;
    &._in-related-post {
        margin-bottom: 15px;
        font-size: 25px;
        .fa {
            width: 25px;
            height: 25px;
        }
    }
    img {
        max-width: 100%;
        height: auto;
        width: 100%;
    }
    .fa {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}

.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 43px;
    height: 43px;
    vertical-align: middle;
    text-align: center;
    background: $dark;
    line-height: 43px;
    color: #ffffff;
    transition: opacity .2s ease-in, visibility .2s ease-in;
    opacity: 0;
    visibility: hidden;
    font-size: 23px;
    z-index: 1;
    &._visible {
        opacity: 1;
        visibility: visible;
    }
    &:hover {
        opacity: 1;
        color: #ffffff;
    }
}

/* ==========================================================================
   4. Typography styles
   ========================================================================== */

h1, h1 a,
h2, h2 a,
h3, h3 a,
h4, h4 a,
h5, h5 a,
h6, h6 a {
    color: $dark;
    margin-bottom: 25px;
    line-height: 1.4em;
    font-weight: 700;
    font-family: $baseHeadingFonts;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    a {
        transition: all 0.4s ease 0s;
        &:hover,
        &:focus {
            opacity: .8;
        }
    }
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

p {
    margin-bottom: 23px;
}

hr {
    border: none;
    background: url("images/bg/border-decor.png") repeat-x 0 0;
    margin: 25px 0;
    height: 1px;
    &.delimiter {
        margin: 0;
    }
}

blockquote {
    font-style: italic;
    font-size: 18px;
    line-height: 1.66;
    color: $gray;
    padding-left: 1.4em;
    border-left: 3px solid $primary;
    margin-bottom: 25px;
    p {
        margin: 0;
    }
}

abbr {
    &:hover,
    &:focus {
        cursor: help;
    }
}

.post__content,
.comment__content {
    a {
        &:hover,
        &:focus {
            border-bottom: 1px solid $primary;
        }
    }
    ul {
        padding-left: 2.3em;
        list-style-type: none;
        margin-bottom: 25px;
        li {
            padding-left: 12px;
            position: relative;
            &:before {
                content: "";
                width: 4px;
                height: 4px;
                background: $gray-dark;
                position: absolute;
                left: 0;
                top: 9px;
                margin: auto;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    ol {
        padding-left: 3.5em;
        margin-bottom: 25px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    > *:last-child {
        margin-bottom: 0;
    }
    dl {
        margin-bottom: 25px;
    }
    .photoswipe_gallery {
        padding-bottom:0 !important;
        .msnry_item {
            padding: 3px !important;
            a {
                display: block;
                transition: all 0.4s ease 0s;
                border-bottom: none;
                &:hover,
                &:focus {
                    opacity: .8;
                }
            }
        }
        .photoswipe-gallery-caption {
            margin-bottom: 6px;
            font-size: 11px !important;
        }
    }
    .gallery {
        margin: 0 -3px 15px;
        overflow: hidden;
        .gallery-item {
            display: inline-block;
            vertical-align: top;
            margin: 0 0 6px;
            padding: 0 3px;
            text-align: center;
            img {
                margin: auto;
            }
            a {
                transition: all .4s ease;
                display: block;
                border-bottom: none;
                &:hover {
                    opacity: .8;
                }
            }
            .gallery-caption {
                margin-bottom: 6px;
            }
        }
        &.gallery-columns-1 {
            .gallery-item {
                width: 50%;
                float: none;
                margin: 20px auto 0;
                text-align: center;
                display: block;
            }
        }
        &.gallery-columns-2 {
            .gallery-item {
                width: 50%;
            }
        }
        &.gallery-columns-3 {
            .gallery-item {
                width: 33.3333%;
            }
        }
        &.gallery-columns-4 {
            .gallery-item {
                width: 25%;
            }
        }
        &.gallery-columns-5 {
            .gallery-item{
                width: 20%;
            }
        }
        &.gallery-columns-6 {
            .gallery-item {
                width: 16.6666%;
            }
        }
        &.gallery-columns-7 {
            .gallery-item {
                width: 14.2875%;
            }
        }
        &.gallery-columns-8 {
            .gallery-item {
                width: 12.5%;
            }
        }
        &.gallery-columns-9 {
            .gallery-item {
                width: 11.1111%;
            }
        }
    }
}

body.admin-bar {
    .pswp {
        z-index: 100000;
    }
}

/* ==========================================================================
   5. TinyMCE styles
   ========================================================================== */

.alignleft {
    float: left;
    margin: 0.6em 2em 1em 0;
}

.alignright {
    float: right;
    margin: 0.6em 0 1em 2em;
    text-align: right;
}

.aligncenter {
    clear: both;
    display: block;
    margin: 1em auto 2em;
    text-align: center;
}

.alignnone {
    margin-bottom: 2em;
    margin-top: 1em;
}

.gallery-caption,
.wp-caption-text,
.photoswipe-gallery-caption {
    font-size: 11px;
    font-style: italic;
    color: $gray;
    margin: 0.5em 0.2em 0;
}

/* ==========================================================================
   6. Top bar styles
   ========================================================================== */

.top-bar {
    background: #000000;
    .top-bar__left {
        float: left;
    }
    .top-bar__right {
        float: right;
    }
}

.social-list {
    padding: 0;
    list-style-type: none;
    line-height: 1;
    .social-list__item {
        display: inline-block;
        line-height: 0;
        a {
            line-height: 0;
            color: #ffffff;
            @include transition(color);
            &:hover,
            &:focus {
                color: $primary;
                border: none;
            }
            .fa {
                line-height: 16px;
                vertical-align: middle;
            }
        }
    }
    &._in-top-bar {
        height: 61px;
        .social-list__item {
            margin-right: 3px;
            a {
                line-height: 61px;
                padding: 0 3px;
                font-size: 14px;
            }
        }
    }
}
.top-bar__right {
    .site-search {
        width: 240px;
        border: none;
        background: #090909;
        &._focus {
            background: #101010;
        }
        .site-search__field {
            color: #ffffff;
        }
        .site-search__button {
            background: #101010;
            color: #ffffff;
        }
    }
}
.site-search {
    height: 61px;
    width: 100%;
    border: 1px solid $gray-lighter;
    @include transition(all);
    &._focus {
        border-color: $gray;
    }
    .site-search__field {
        display: block;
        float: left;
        height: 100%;
        width: 75%;
        padding: 0 0 0 25px;
        border: none;
        outline: none;
        background: none;
        font: italic 12px/normal $baseHeadingFonts;
        letter-spacing: 1px;
        color: $gray;
    }
    .site-search__button {
        display: block;
        float: right;
        height: 100%;
        width: 25%;
        border: none;
        padding: 0;
        background: none;
        font-size: 14px;
        cursor: pointer;
        color: $gray;
    }
    .site-search__button::-moz-focus-inner {
        border: 0;
    }
}

/* ==========================================================================
   7. Header Menu styles
   ========================================================================== */

.header {
    position: relative;
}

.site-brand {
    text-align: center;
    margin: 0;
    padding: 95px 0;
    font: 0px/0 a;
    > a {
        &:hover,
        &:focus {
            opacity: 1;
        }
    }
    img {
        vertical-align: middle;
    }
}

.site-brand img {
    display: none;
}

.dark-logo:not(.retina) {
    display: inline-block;
}

.header-bg-overlay {
    .site-brand img {
        display: none;
    }

    .light-logo:not(.retina) {
        display: inline-block;
    }
}

._menu-open {
    .dark-logo {
        display: none;
    }
    .light-logo:not(.retina) {
        display: inline-block;
    }
}

@media(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .site-brand {
        .dark-logo {
            display: inline-block;
            & + .dark-logo {
                display: none;
            }
        }
    }

    .header-bg-overlay {
        .site-brand {
            .dark-logo {
                display: none;
            }
            .light-logo {
                display: inline-block;
                & + .light-logo {
                    display: none;
                }
            }
        }
    }

    ._menu-open {
        .dark-logo {
            display: none !important;
        }
        .light-logo {
            display: inline-block;
            & + .light-logo {
                display: none;
            }
        }
    }
}

.header-bg-overlay {
    background-size: cover;
    background-position: center;
    .top-bar {
        background: rgba(0,0,0,.5);
    }
    .site-search {
        background: transparent;
        .site-search__field,
        .site-search__button {
            background: transparent;
        }
    }
    + .delimiter {
        display: none;
    }
    + .container .slider-wrapper {
        margin-top: 45px;
    }
}

/* ==========================================================================
   8. Slider styles
   ========================================================================== */
.owl-controls {
    .owl-prev,
    .owl-next {
        width: 37px;
        height: 37px;
        vertical-align: middle;
        text-align: center;
        border: 1px solid #ffffff;
        line-height: 36px;
        text-shadow: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        font-size: 15px;
        color: #ffffff;
        transition: background .3s;
        &:hover,
        &:focus {
            background-color: #ffffff;
            color: #000000;
        }
    }
    .owl-prev {
        left: 2.7%;
    }
    .owl-next {
        right: 2.7%;
    }
}

.owl-nav {
    .owl-nav__arrow {
        transition: color .3s;
        &:before {
            display: inline-block;
            font-family: "FontAwesome";
            font-feature-settings: normal;
            font-kerning: auto;
            font-language-override: normal;
            font-size: inherit;
            font-size-adjust: none;
            font-stretch: normal;
            font-style: normal;
            font-synthesis: weight style;
            font-variant: normal;
            font-weight: normal;
            line-height: 1;
            text-rendering: auto;
        }
    }
    .owl-next {
        .owl-nav__arrow {
            &:before {
                content: "\f105";
            }
        }
    }
    .owl-prev {
        .owl-nav__arrow {
            &:before {
                content: "\f104";
            }
        }
    }
}

._featured_nav {
    .owl-prev,
    .owl-next {
        height: 56px;
        line-height: 55px;
        font-size: 20px;
    }
}



._instagram-feed-nav {
    .owl-prev,
    .owl-next {
        width: 50px;
        height: 50px;
        line-height: 49px;
        opacity: 0;
        transition: opacity 0.3s, transform 0.3s;
    }
    .owl-prev {
        transform: translateX(-50%) translateY(-50%);
    }
    .owl-next {
        transform: translateX(50%) translateY(-50%);
    }
}

.owl-dots {
    position: absolute;
    left: 20px;
    right: 0;
    bottom: 20px;
    text-align: center;
    .owl-dot {
        display: inline-block;
        vertical-align: middle;
        margin: 15px;
        width: 14px;
        height: 14px;
        background-color: rgba(255, 255, 255, .5);
        box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.4);
        transition: background-color .13s ease;
        border-radius: 50%;
        &:hover,
        &.active,
        &:focus {
            background: #ffffff;
        }
    }
}

._animate_scale_up {
    .owl-dot {
        transition: transform 0.3s ease, background-color 0.3s ease;
        &.active {
            transform: scale(1.2);
        }
    }
}

._animate_fill_up {
    .owl-dot {
        box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.4);
        border: 2px solid #ffffff;
        position: relative;
        overflow: hidden;
        &:after {
            background-color: #fff;
            bottom: 0;
            box-shadow: 0 0 1px #fff;
            content: "";
            height: 0;
            left: 0;
            position: absolute;
            transition: height 0.3s ease 0s;
            width: 100%;
        }
        &.active {
            background-color: transparent;
            &:after {
                height: 100%;
            }
        }
    }
}

._animate_fall {
    .owl-dot {
        position: relative;
        box-shadow: none;
        background: none;
        &:after {
            background-color: #ffffff;
            box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.4);
            border-radius: 50%;
            content: "";
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            transform: translateY(-200%);
            transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s;
            visibility: hidden;
            width: 100%;
        }
        &:before {
            content: "";
            background-color: rgba(255, 255, 255, .5);
            box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.4);
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, background-color 0.3s ease 0s;
        }
        &.active {
            background: none;
            &:after {
                opacity: 1;
                transform: translateY(0%);
                transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
                visibility: visible;
            }
            &:before {
                opacity: 0;
                transform: translateY(200%);
            }
        }
    }
}

.fade-in {
    animation: scale-from .5s ease both
}

.fade-out {
    animation: scale-to .5s ease both
}

@keyframes scale-from {
    from {
        opacity: 0;
        transform: scale(1.5)
    }
}

@keyframes scale-to {
    to {
        opacity: 0;
        transform: scale(1.5)
    }
}

@keyframes flipInX {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

.flipInX {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
}

.slider-wrapper {
    position: relative;
    overflow: hidden;
}

.entry-slider {
    height: 575px;
    &.owl-loaded {
        height: auto;
    }
    .owl-stage-outer {
        overflow: visible;
        position: relative;
        &:before,
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background: #000000;
            opacity: .6;
            z-index: 1;
        }
        &:before {
            right: 100%;
        }
        &:after {
            left: 100%;
        }
    }
    .slide {
        position: relative;
        .slide__featured {
            background-size: cover;
            background-position: center;
            height: 575px;
            display: block;
            position: relative;
        }
    }
}

@-webkit-keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.slideOutDown {
    -webkit-animation-name: slideOutDown;
    animation-name: slideOutDown;
}@-webkit-keyframes slideOutDown {
     from {
         -webkit-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
     }

     to {
         visibility: hidden;
         -webkit-transform: translate3d(0, 100%, 0);
         transform: translate3d(0, 100%, 0);
     }
 }

@keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.slideOutDown {
    -webkit-animation-name: slideOutDown;
    animation-name: slideOutDown;
}

._black_overlay {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000000;
    opacity: .45;
    transition: opacity .4s ease;
}

.slide {
    position: relative;
    &:hover {
        ._black_overlay {
            opacity: .6 !important;
        }
    }
    .slide__content {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        margin: auto;
        text-align: center;

        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }
        .slide__content__inner {
            z-index: 1;
            display: inline-block;
            vertical-align: middle;
            max-width: 70%;

            opacity: 0;
            transition: opacity .1s linear, transform 1s linear;
        }
    }
    .slide__category {
        padding-bottom: 30px;
        padding-top: 25px;

        opacity: 0;
        transition: opacity .5s ease-in;
        a {
            background: $primary none repeat scroll 0 0;
            color: #ffffff;
            display: inline-block;
            font-family: $baseHeadingFonts;
            font-size: 11px;
            font-weight: 700;
            left: 0;
            letter-spacing: 0.16em;
            line-height: 21px;
            padding: 0 4px 0 6px;
            text-transform: uppercase;
        }
    }
    .slide__title {
        margin: 55px 0 15px;
        text-transform: uppercase;
        letter-spacing: .16em;

        opacity: 0;
        transform: scale(.9);
        transition: opacity .7s ease-in, transform .7s ease;
        a {
            color: #ffffff;
        }
    }
    .slide__date {
        margin-bottom: 95px;
        position: relative;
        overflow: hidden;

        opacity: 0;
        transform: scale(.9);
        transition: opacity .9s ease-in, transform .9s ease;
        &:before,
        &:after {
            content: "";
            position: relative;
            display: inline-block;
            width: 65px;
            height: 1px;
            vertical-align: middle;
            background: #ffffff;
            background-clip: content-box;
        }
        &:before {
            left: -27px;
        }
        &:after {
            left: 27px;
        }
        a {
            color: #ffffff;
            border-bottom: none;
            font-size: 13px;
        }
    }
    .btn {
        border-color: #ffffff;
        color: #ffffff;

        opacity: 0;
        transition: opacity .9s ease-in, color .3s, background .3s;
        &:hover,
        &:focus {
            background: #ffffff;
            color: #000000;
        }
    }
}


.active .slide .slide__content .slide__content__inner {
    opacity: 1;
}

._animate {
    .slide__category {
        opacity: 1;
    }
    .slide__title {
        opacity: 1;
        transform: scale(1);
    }
    .slide__date {
        opacity: 1;
        transform: scale(1);
    }
    .btn {
        opacity: 1;
    }
}

/* ==========================================================================
   9. Featured Blocks
   ========================================================================== */

._streamlined {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        left: -1px;
        right: -1px;
        top: -1px;
        bottom: -1px;
        border: 1px solid #e9e9e9;
        z-index: -1;
    }
}

.popular-post {
    position: relative;
    padding-bottom: 35px;
    margin-top: 45px;
    .popular-post__image {
        display: block;
        width: 100%;
        height: 225px;
        background-size: cover;
        background-position: center;
        transition: all 0.4s ease 0s;
        &:hover,
        &:focus {
            opacity: .8;
        }
    }
    .popular-post__content {
        position: absolute;
        left: 9%;
        right: 9%;
        height: 104px;
        bottom: 0;
        background: #ffffff;
        border-top: 4px solid $primary;
        text-align: center;
        padding: 25px 30px;
        .popular-post__title {
            font-size: 14px;
            text-transform: uppercase;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 10px;
            letter-spacing: .16em;
        }
        .popular-post__date {
            a {
                color: #999999;
                &:hover,
                &:focus {
                    color: $primary;
                    border-bottom: 1px solid $primary;
                }
            }
        }
    }
}


/* ==========================================================================
   9. Content Layout styles
   ========================================================================== */

.content {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 70px;
    .content__primary {
        width: 70.2702%;
        float: left;
        padding: 0 15px;
        &._align-right {
            float: right;
        }
    }
    .sidebar {
        width: 29.7297%;
        float: left;
        padding: 0 15px;
    }
    &._full-width {
        .content__primary {
            width: 100%;
        }
        .sidebar {
            display: none;
        }
    }
}

body.page {
    .sidebar {
        padding-top: 19px;
    }
}
body.search {
    .sidebar {
        padding-top: 16px;
    }
}

/* ==========================================================================
   10. Post styles
   ========================================================================== */

.apposition-wrapper {
    ._type-apposition:nth-child(even) {
        .apposition-content {
            float: right;
        }
        .apposition-image {
            left: 0;
        }
    }
    ._type-apposition {
        &._no-image {
            .apposition-content {
                width: 100%;
                margin: 0;
            }
        }
        .post__more {
            padding-top: 0;
        }
    }
}

.apposition-content {
    width: 55%;
    background: #ffffff;
    border: 1px solid #e9e9e9;
    padding: 60px 60px 50px;
    margin: 40px 30px;
    position: relative;
    z-index: 1;
    .page-links {
        margin-bottom: 0;
    }
}

.apposition-image {
    max-width: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    transition: all 0.4s ease 0s;
    &:hover {
        opacity: 0.8;
    }
    .post__thumbnail {
        display: inline !important;
        img {
            max-height: 100%;
            width: auto;
            height: 100%;
            max-width: none;
            backface-visibility: hidden;
        }
    }
}

.content-box-overlay {
    padding-left: 30px;
    padding-right: 30px;
    background: #ffffff;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #e9e9e9;
    .content-box {
        position: relative;
        top: -75px;
        background: #ffffff;
        border-top: 5px solid $primary;
        padding: 75px 50px 0;
    }
}

.post {
    margin-bottom: 30px;
    position: relative;
    &._no-image {
        .content-box {
            top: 0;
            padding: 50px;
        }
        .content-box-overlay {
            border-top-width: 1px;
        }
    }
    .post__header {
        text-align: center;
        margin-bottom: 38px;
    }
    .post__title {
        margin-bottom: 12px;
        letter-spacing: 0.16em;
        text-transform: uppercase;
    }
    .post__category {
        margin-bottom: 10px;
        line-height: 1;
        color: $primary;
        font-size: 14px;
        a {
            border-bottom: 1px solid $primary;
            color: $primary;
            display: inline-block;
            font: 700 11px/1.7 $baseHeadingFonts;
            letter-spacing: 0.16em;
            text-transform: uppercase;
            position: relative;
            top: -1px;
            margin: 0 1px;
        }
    }
    .post__info {
        margin-bottom: 17px;
        line-height: 1;
        .post__date,
        .post__author,
        .post__comments {
            display: inline-block;
            vertical-align: middle;
            padding: 0 5px;
            margin: 0 4px;
        }
        a {
            border-bottom: 1px solid transparent;
            color: $gray;
            &:hover,
            &:focus {
                color: $primary;
                border-color: $primary;
            }
        }
        [class^='post__'] + [class^='post__'] {
            position: relative;
            &:before {
                content: "•";
                font-size: 14px;
                left: -7px;
                position: absolute;
                vertical-align: middle;
                line-height: 100%;
                color: $gray;
            }
        }
    }
    .post__thumbnail {
        display: block;
        position: relative;
        overflow: hidden;
        transition: all 0.4s ease 0s;
        background: rgba(175, 163, 118, 0.15);
        img {
            display: block;
            margin: 0 auto;
        }
    }
    a.post__thumbnail {
        &:hover,
        &:focus {
            opacity: .8;
        }
    }
    .post__media {
        iframe {
            display: block;
        }
    }
    .post__slider {
        height: 0;
    }
    .post__content,
    .slider-wrapper,
    .post__media,
    .post__tags {
        margin: 35px auto;
    }
    .post__tags {
        color: $gray;
        dt,
        dd {
            display: inline-block;
            vertical-align: middle;
        }
        dt {
            color: $dark;
        }
        dd {
            a {
                border-bottom: 1px solid $primary;
            }
        }
    }
    .post__caption {
        font-style: italic;
        color: $gray;
        margin: 0.5em 0.2em 0;
    }
    .post__share {
        text-align: center;
        margin-bottom: 25px;
    }
    .post__more {
        text-align: center;
        padding-top: 20px;
    }

    &._format-quote {
        text-align: center;
        padding: 65px 80px;
        display: table;
        width: 100%;
        border: 1px solid #e9e9e9;
        .table-cell-layer {
            display: table-cell;
            vertical-align: middle;
        }
        .post__header {
            margin-bottom: 32px;
        }
        .post__content {
            position: relative;
            blockquote {
                font-size: 18px;
                color: $gray;
                line-height: 1.7;
                position: relative;
                border: none;
                padding: 0;
            }
            cite {
                padding-top: 35px;
                font-size: 13px;
                display: block;
            }
            &:after {
                content: "";
                position: absolute;
                width: 32px;
                height: 1px;
                background: $primary;
                left: 0;
                right: 0;
                bottom: -15px;
                margin: auto;
            }
            i[class*="quote"] {
                vertical-align: top;
                font-size: 18px;
                color: $primary;
                display: block;
                margin-bottom: 25px;
            }
        }
        .post__info {
            margin-bottom: 35px;
        }
        .post__info {
            margin: 0;
        }
        &._type-grid {
            height: 550px;
            padding: 70px 40px;
            .post__header {
                margin-bottom: 30px;
            }
            .post__info {
                margin-bottom: 10px;
            }
        }
    }

    &:not(._type-list) + ._type-list {
        padding-top: 30px;
        &:before {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 0;
            width: 100%;
            height: 1px;
            background: url("images/bg/border-decor.png") repeat-x 0 0;
        }
    }

    &._type-list {
        margin-bottom: 30px;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 1px;
            background: url("images/bg/border-decor.png") repeat-x 0 0;
        }
        &._no-image {
            .post__info {
                margin-bottom: 43px;
            }
        }
        .post__thumbnail {
            margin-bottom: 30px;
            background: none;
            img {
                width: 100%;
            }
        }
        .post__header {
            margin: 9px 0 18px;
        }
        .post__title {
            font-size: 16px;
            margin-bottom: 15px;
        }
        .post__info {
            text-align: center;
            line-height: 12px;
            margin-bottom: 30px;
            a {
                font-size: 13px;
            }
        }
        .post__content {
            position: relative;
            margin-bottom: 42px;
            margin-top: 18px;
            min-height: 24px;
        }
        .post__content:after {
            background: $primary none repeat scroll 0 0;
            bottom: -20px;
            content: "";
            height: 1px;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            width: 32px;
        }
    }

    &._type-grid {
        margin-bottom: 0;
        .post__thumbnail {
            background: none;
        }
        .post__header {
            margin-bottom: 16px;
        }
        .post__title {
            font-size: 16px;
            margin-bottom: 15px;
        }
        .flex-control-nav {
            bottom: 24px;
        }
        .post__category {
            margin-bottom: 20px;
        }
        .featured {
            margin-bottom: 21px;
        }
        .post__info {
            text-align: center;
            margin-bottom: 0;
            line-height: 12px;
            a {
                font-size: 13px;
            }
        }
        .post__content {
            position: relative;
            margin-bottom: 42px;
            margin-top: 18px;
            min-height: 24px;
        }
        .post__content:after {
            background: $primary none repeat scroll 0 0;
            bottom: -20px;
            content: "";
            height: 1px;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            width: 32px;
        }
        .content-box-overlay {
            padding: 50px 45px;
        }
    }
    &._type-apposition {
        margin-bottom: 70px;
        overflow: hidden;
    }
}

.post-password-form {
    p,
    label {
        display: inline-block;
        vertical-align: middle;
    }
    input[type="password"] {
        width: 250px;
        height: 37px;
        margin-left: 10px;
        padding: 0 15px;
        display: inline-block;
        vertical-align: middle;
        border: 1px solid $gray-lighter;
        outline: medium none;
        box-shadow: none;
        font: italic $baseHeadingFonts;
        letter-spacing: 1px;
        color: #999999;
        transition: border-color 0.13s ease-in;

        &:focus {
            border-color: $gray;
        }
    }
    input[type="submit"] {
        display: inline-block;
        vertical-align: middle;
        width: 100px;
        height: 37px;
        background: $primary;
        border: none;
        cursor: pointer;
        font: 700 11px/normal $baseHeadingFonts;
        text-transform: uppercase;
        letter-spacing: .16em;
        color: #ffffff;
    }
}

.social-list {
    &._in-post {
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        &:before,
        &:after {
            content: "";
            position: relative;
            top: -1px;
            display: inline-block;
            vertical-align: middle;
            width: 50%;
            height: 1px;
            background: url("images/bg/border-decor.png") repeat-x 0 0;
        }
        &:before {
            margin: 0 0 0 -50%;
        }
        &:after {
            margin: 0 -50% 0 0;
        }
        .social-list__item {
            margin: 0 5px;
            a {
                color: $primary;
                font-size: 16px;
                &:hover,
                &:focus {
                    color: #000000;
                }
            }
        }
    }
}

.grid-list {
    margin-left: -15px;
    margin-right: -15px;
    .grid-list__item {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 30px;
        padding: 0 15px;
        width: 50%;
    }
    & + ._type-list {
        padding-top: 30px;
        &:before {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 0;
            width: 100%;
            height: 1px;
            background: url("images/bg/border-decor.png") repeat-x 0 0;
        }
    }
}

._full-width {
    .grid-list {
        .grid-list__item {
            width: 33.33%;
        }
    }
}

.pagination {
    text-align: center;
    margin-bottom: 60px;
    .pagination__item {
        width: 37px;
        height: 37px;
        display: inline-block;
        vertical-align: top;
        margin: 0 3px;
        border: 1px solid $primary;
        text-align: center;
        font: 14px/35px $baseHeadingFonts;
        color: $primary;
        transition: all .13s ease-in 0s;
        &.current {
            color: #ffffff;
        }
        &:hover,
        &:focus {
            background: $primary;
            color: #ffffff;
        }
    }
    .current {
        background: $primary;
        color: #ffffff;
    }
}

.nav-links {
    margin-bottom: 60px;
    .nav-previous {
        float: right;
    }
    .nav-next {
        float: left;
    }
}

.image-navigation {
    .nav-links {
        margin-bottom: 60px;
        .nav-previous {
            float: left;
        }
        .nav-next {
            float: right;
        }
    }
}

.nav-previous a,
.nav-next a {
    font: 700 11px/15px $baseHeadingFonts;
    text-transform: uppercase;
    letter-spacing: .16em;
    color: $primary;
    padding: 10px 20px;
    border: 1px solid $primary;
    display: inline-block;
    @include transition(all);
    &:hover,
    &:focus {
        background: $primary;
        color: #ffffff;
    }
}

.page-links {
    text-align: center;
    margin-bottom: 35px;
    .page-links__title {
        display: inline-block;
        vertical-align: middle;
        font-weight: 700;
    }
    .page-links__item {
        width: 37px;
        height: 37px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 3px;
        border: 1px solid $primary;
        text-align: center;
        font: 14px/35px $baseHeadingFonts;
        color: #ffffff;
        transition: all .13s ease-in 0s;
        background: $primary;
    }
    a {
        .page-links__item {
            background: transparent;
            color: $primary;
            &:hover,
            &:focus {
                background: $primary;
                color: #ffffff;
            }
        }
    }
}

.featured {
    text-align: center;
    margin: -3px 0 12px;
    display: block;
    line-height: 1;
    .featured__label {
        background: none repeat scroll 0 0 $primary;
        color: #ffffff;
        display: inline-block;
        font-family: $baseHeadingFonts;
        font-size: 11px;
        font-weight: 700;
        line-height: 21px;
        left: 0;
        letter-spacing: 0.16em;
        padding: 0 4px 0 6px;
        text-transform: uppercase;
        top: 0;
    }
}

.post__author-bio {
    padding: 60px 0;
    position: relative;
    &:after {
        content: "";
        left: 0;
        right: 0;
        top: 100%;
        height: 1px;
        position: absolute;
        background: url("images/bg/border-decor.png") repeat-x 0 0;
    }
    .col-sm-10 {
        padding-left: 10px;
    }
    .avatar {
        margin: auto;
    }
    .author__title {
        margin-bottom: 8px;
    }
    .author__biographical {
        margin-bottom: 12px;
    }
}

.social-list {
    &._in-author-bio {
        .social-list__item {
            margin-right: 14px;
            a {
                color: $primary;
                font-size: 16px;
                &:hover,
                &:focus {
                    color: $dark;
                }
            }
        }
    }
}

.comments {
    margin-bottom: 60px;
    .comments__title {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 50px;
        line-height: 1;
        letter-spacing: .16em;
    }
}

.comments-list {
    .comments-list__item {
        list-style-type: none;
        padding-bottom: 40px;
        margin-bottom: 40px;
        position: relative;
        &:after {
            content: "";
            left: 0;
            right: 0;
            top: 100%;
            height: 1px;
            position: absolute;
            background: url("images/bg/border-decor.png") repeat-x 0 0;
        }
    }
    .comment,
    .bypostauthor {
        display: table;
        width: 100%;
        .comment__avatar {
            width: 100px;
            display: table-cell;
            vertical-align: top;
            .avatar {
                margin: auto;
            }
        }
        .comment__content {
            display: table-cell;
            padding-left: 20px;
        }
    }
    .comment__reply {
        .comment-reply-link,
        .comment-edit-link {
            text-transform: uppercase;
            float: right;
            padding: 4px 7px 4px 8px;
            font: 10px/1 $baseHeadingFonts;
            color: $primary;
            border: 1px solid $primary;
            margin: 3px 0 0 15px;
            &:hover,
            &:focus {
                background: $primary;
                color: #ffffff;
            }
        }
    }
    .comment__author {
        margin-bottom: 0;
    }
    .comment__date {
        color: $gray;
        font-size: 12px;
        margin-bottom: 6px;
    }
    .comment__text {
        margin-bottom: 0;
    }
    .children {
        margin-left: 80px;
    }
}

.comment-respond {
    margin-bottom: 50px;
    .comment-reply-title {
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 30px;
        letter-spacing: .16em;
        line-height: 1;
        small {
            float: right;
            a {
                border: 1px solid $primary;
                color: $primary;
                display: block;
                font: 10px/1 $baseHeadingFonts;
                margin: -1px 0 0 15px;
                padding: 4px 7px 4px 8px;
                text-transform: uppercase;
                letter-spacing: 0;
                &:hover,
                &:focus {
                    color: #ffffff;
                    background: $primary;
                }
            }
        }
    }
}

.comment-form {
    .logged-in-as {
        margin-bottom: 30px;
        a {
            color: $gray;
            &:hover,
            &:focus {
                color: $primary;
                border-bottom: 1px solid $primary;
            }
        }
    }
}

.related-posts {
    position: relative;
    &:after {
        content: "";
        left: 0;
        right: 0;
        top: 100%;
        height: 1px;
        position: absolute;
        background: url("images/bg/border-decor.png") repeat-x 0 0;
    }
    .related-posts__title {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .16em;
        margin-bottom: 40px;
    }
    .related-posts__list {
        position: relative;
        margin-left: -15px;
        margin-right: -15px;
        list-style-type: none;
        padding-bottom: 60px;
        margin-bottom: 60px;
        .related-posts__list__item {
            float: left;
            width: 33.33%;
            padding: 0 15px;
        }
    }
    .related-post {
        text-align: center;
        .post__thumbnail {
            margin-bottom: 15px;
            transition: all 0.4s ease 0s;
            &:hover,
            &:focus {
                opacity: .8;
            }
        }
        .post__title {
            margin-bottom: 12px;
            line-height: 1.3;
        }
        .post__date {
            line-height: 1;
            a {
                font-size: 12px;
                color: $gray;
                &:hover,
                &:focus {
                    color: $primary;
                    border-bottom: 1px solid $primary;
                }
            }
        }
    }
}

.search-result {
    letter-spacing: .04em;
    margin-bottom: 40px;
}

/* ==========================================================================
   11. Widget styles
   ========================================================================== */

iframe[src*="facebook.com"] {
    margin-bottom: 55px !important;
}

.widget {
    margin-bottom: 55px;
    padding: 30px;
    border: 1px solid #e9e9e9;
    position: relative;
    .widget__title {
        display: block;
        text-align: center;
        position: absolute;
        left: 30px;
        right: 30px;
        top: 0;
        background: #ffffff;
        transform: translateY(-50%);

        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: .16em;
        a {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 0;
            text-transform: uppercase;
            &.rsswidget {
                img {
                    margin-right: 4px;
                }
            }
        }
        & + * {
            margin-top: 10px !important;
        }
    }
    select {
        width: 100%;
        height: 40px;
        padding: 0 4px;
        outline: none;
        font-family: $baseFonts;
        background: transparent;
    }
}

.social-list {
    &._in-widget {
        text-align: center;
        line-height: normal;
        .social-list__item {
            margin: 2px 8px;
            padding: 6px 0;
            a {
                color: $dark;
                font-size: 16px;
                &:hover,
                &:focus {
                    color: $primary;
                }
            }
        }
    }
}

.widget_archive,
.widget_categories,
.widget_meta,
.widget_recent_comments,
.widget_rss,
.widget_pages,
.widget_recent_entries,
.widget_nav_menu {
    ul {
        padding: 0;
        list-style-type: none;
        li {
            position: relative;
            padding: 0 0 10px;
            &:not(:first-child) {
                padding-top: 8px;
                &:before {
                    content: "";
                    position: absolute;
                    bottom: 100%;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: url("images/bg/border-decor.png") repeat-x 0 0;
                }
            }
            a {
                font-size: 12px;
                color: $gray-dark;
                &:hover,
                &:focus {
                    border-bottom: 1px solid $primary;
                    color: $primary;
                }
            }
            .post-date,
            .rss-date {
                display: inline-block;
            }
        }
    }
}

.widget_text {
    text-align: center;
    .textwidget {
        vertical-align: middle;
        display: inline-block;
    }
    img {
        margin-bottom: 10px;
    }
}

.widget_recent_comments,
.widget_rss {
    ul {
        li {
            a {
                color: $primary;
                &:hover,
                &:focus {
                    border-bottom: 1px solid $primary;
                }
            }
        }
    }
}

.widget_rss {
    li {
        .rsswidget,
        .rssSummary {
            font-size: 12px;
        }
    }
}

.tagcloud {
    margin-bottom: -8px;
    a {
        display: inline-block;
        vertical-align: top;
        font: 10px/26px $baseHeadingFonts !important;
        text-transform: uppercase;
        color: $gray;
        height: 27px;
        padding: 0 10px;
        margin: 0 4px 8px 0;
        border: 1px solid $gray-lighter;
        @include transition(all);
        &:hover,
        &:focus {
            color: #ffffff;
            background: $primary;
            border-color: $primary;
        }
    }
}

#wp-calendar {
    width: 100%;
    font-size: 11px;
    caption {
        text-transform: uppercase;
        font-family: $baseHeadingFonts;
        font-weight: bold;
        letter-spacing: .16em;
        line-height: 1;
        margin-bottom: 15px;
        padding-bottom: 22px;
        position: relative;
        background: rgba(0, 0, 0, 0) url("images/bg/border-decor.png") repeat-x scroll center bottom;
    }
    thead {
        th {
            font-family: $baseHeadingFonts;
            font-size: 11px;
            font-weight: 700;
            padding: 7px;
            text-align: center;
            border: none;
        }
    }
    tbody {
        td {
            padding: 5px 8px;
            text-align: center;
            border: none;
            font-family: $baseHeadingFonts;
            font-size: 12px;
            font-weight: 400;
            &#today {
                background: $primary;
                color: #ffffff;
                a {
                    color: #ffffff;
                }
            }
        }
    }
    tfoot {
        background: rgba(0, 0, 0, 0) url("images/bg/border-decor.png") repeat-x scroll top 15px center;
        td {
            padding: 30px 0px 0;
            text-transform: uppercase;
            a {
                display: block;
            }
        }
        #prev {
            text-align: left;
        }
        #next {
            text-align: right;
        }
    }
}

.widget_search {
    .site-search {
        height: 50px;
    }
}

.mc4wp-form-fields {
    .newsletter-text {
        font-size: 12px;
        line-height: 18px;
        margin: 20px 0 25px;
        text-align: center;
    }
    p {
        margin-bottom: 0;
    }
    label {
        display: none;
    }
    input[type="email"] {
        width: 100%;
        height: 37px;
        margin-bottom: 7px;
        padding: 0 15px;
        display: block;
        border: 1px solid $gray-lighter;
        outline: medium none;
        box-shadow: none;
        font: italic 12px $baseHeadingFonts;
        letter-spacing: 1px;
        color: $gray;
        @include transition(border-color);
        &:focus {
            border-color: $gray;
        }
    }
    input[type="submit"] {
        width: 100%;
        height: 37px;
        background: $primary;
        border: none;
        cursor: pointer;
        font: 700 11px/normal $baseHeadingFonts;
        text-transform: uppercase;
        letter-spacing: .16em;
        color: #ffffff;
    }
    .social-list {
        margin-top: 25px;
    }
}

.mc4wp-response {
    font-size: 12px;
    text-align: center;
    p {
        margin: 15px 0 0;
    }
}

.instagram-feed {
    .feed-list {
        padding: 0;
        list-style-type: none;
        margin-left: -3px;
        margin-right: -3px;
        .feed-list__item {
            padding: 3px;
            float: left;
            a {
                display: block;
                transition: all 0.4s ease 0s;
                text-decoration: none;
                &:hover,
                &:focus {
                    opacity: .8;
                }
            }
            img {
                width: 100%;
                max-width: 100%;
                height: auto;
                display: block;
            }
            &._col-2 {
                width: 50%;
            }
            &._col-3 {
                width: 33.33%;
            }
            &._col-4 {
                width: 25%;
            }
            &._col-5 {
                width: 20%;
            }
        }
    }
}

.feed-slider {
    height: 0;
    overflow: hidden;
    position: relative;
    &:hover {
        ._instagram-feed-nav {
            .owl-prev,
            .owl-next {
                opacity: 1;
                transform: translateX(0) translateY(-50%);
            }
        }
    }
}

.footer-instagram__list {
    position: relative;
    overflow: hidden;
    height: 0;
    &:hover {
        .owl-nav {
            opacity: 1;
        }
    }
    .owl-nav {
        opacity: 0;
        transition: .3s;
    }
    .owl-item {
        > div {
            display: block;
            transition: all 0.3s ease-in-out;
            &:hover,
            &:focus {
                opacity: .8;
            }
        }
    }
}

._instagram-footer-nav {
    .owl-prev,
    .owl-next {
        height: 100%;
        background: rgba(0, 0, 0, .45);
        width: 50px;
    }
    .owl-prev {
        left: 0;
    }
    .owl-next {
        right: 0;
    }
}

.posts {
   .post__item {
       position: relative;
       &:not(:last-child) {
           margin-bottom: 12px;
           padding-bottom: 13px;
           &:after {
               background: rgba(0, 0, 0, 0) url("images/bg/border-decor.png") repeat-x scroll 0 0;
               top: 100%;
               content: "";
               height: 1px;
               left: 0;
               position: absolute;
               width: 100%;
           }
       }
       .post__featured {
           display: inline-block;
           vertical-align: middle;
           width: 33.33%;
           transition: all 0.4s ease 0s;
           &:hover,
           &:focus {
               opacity: .8;
           }
           .image-placeholder {
               &._in-post-widget {
                   font-size: 20px;
                   .fa {
                       width: 20px;
                       height: 20px;
                   }
               }
           }
       }
       .post__featured + .post__content {
           max-width: 60%;
       }
       .post__content {
           display: inline-block;
           vertical-align: top;
           padding-left: 15px;
           .post__title {
               font-size: 14px;
               white-space: nowrap;
               overflow: hidden;
               text-overflow: ellipsis;
               margin: 0;
               a {
                   border: none;
                   margin: 0;
               }
           }
           .post__author {
               font-size: 12px;
               line-height: 1;
               a {
                   color: $gray;
                   &:hover,
                   &:focus {
                       color: $primary;
                   }
               }
           }
           .post__date {
               font-size: 12px;
               a {
                   color: $gray;
                   &:hover,
                   &:focus {
                       color: $primary;
                   }
               }
           }
           .post__title,
           .post__author,
           .post__date {
               line-height: 22px;
           }
       }
   }
}

.about-me {
    text-align: center;
    img {
        display: block;
        margin: 0 auto 20px;
    }
    .about-me__preview {
        border: none !important;
        display: block;
    }
    a {
        &:hover,
        &:focus {
            border-bottom: 1px solid $primary;
        }
    }
    .social-list {
        margin-top: 20px;
    }
}

.about-me__preview {
    transition: all 0.4s ease 0s;
    display: block;
    &:hover,
    &:focus {
        opacity: .8;
    }
}

.promo-box {
    text-align: center;
    border: none;
    padding: 0;
    img {
        display: block;
        margin: 0 auto 20px;
    }
}

.footer__instagram {
    position: relative;
}

.instagram-grid {
    height: auto;
}

.ri-grid-loading {
    .follow-text {
        display: none;
    }
}
.follow-text {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    height: 50px;
    left: 0;
    right: 0;
    text-align: center;
    a {
        padding: 10px 20px;
        display: inline-block;
        color: #ffffff;
        font-size: 17px;
        font-family: $baseHeadingFonts;
        background: rgba(0, 0, 0, .6);
        border-radius: 2px;
        position: relative;
        z-index: 2;
    }
    .fa {
        font-size: 20px;
        color: $primary;
        margin: -1px 10px 0 0;
        display: inline-block;
        vertical-align: middle;
    }
}

.instagram-grid ul {
    list-style: none;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.instagram-grid ul li {
    perspective: 400px;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
    &:hover,
    &:focus {
        opacity: .8;
    }
}

.instagram-grid ul li a {
    cursor: pointer !important;
    display: block;
    outline: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #333;
}

.ri-loading-image{
    display: none;
}

.widget_nav_menu {
    .sub-menu {
        padding-top: 8px;
        li {
            padding-left: 10%;
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}

.widget.contact-us input[type="email"],
.widget.contact-us input[type="text"],
.widget.contact-us textarea {
    margin-bottom: 7px;
    width: 100%;
    font: italic 12px "Lato", sans-serif;
    color: #999999;
    outline: medium none;
    letter-spacing: 1px;
    box-shadow: none;
    border: 1px solid #dbdbdb;
    transition: border-color 0.13s ease-in;

    &:focus {
        border-color: $gray;
    }
}

.widget.contact-us textarea {
    height: 110px;
}

.widget.contact-us input[type="email"],
.widget.contact-us input[type="text"] {
    height: 37px;
    padding: 0 15px;
}

.widget.contact-us p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0;
    text-transform: none;
    font-weight: 400;
    text-align: center;
    letter-spacing: normal;
    font-family: 'Merriweather', serif;
}

.widget.contact-us .wpcf7 {
    margin-top: 0 !important;
    padding-top: 15px;
}

.widget.contact-us input[type="submit"] {
    margin-top: 13px;
    min-width: 130px;
    color: #fff;
    background-color: #afa376;
}

.widget.contact-us .wpcf7-not-valid-tip {
    padding-bottom: 7px;
    text-align: left;
}

.widget.contact-us .wpcf7-response-output {
    display: none !important;
}

/* ==========================================================================
   12. Footer styles
   ========================================================================== */

.footer {
    margin-top: 35px;
    .footer__widget-area {
        padding-top: 40px;
    }
    .footer__social-bar {
        background: #000000;
    }
    .footer__bottom-panel {
        padding: 38px 0;
        background: #000000;
        .copyright {
            float: left;
        }
        .designed {
            float: right;
            a {
                color: #ffffff;
                &:hover,
                &:focus {
                    color: $primary;
                    border-bottom: 1px solid $primary;
                }
            }
        }
        p {
            color: $gray;
            margin-bottom: 0;
        }
    }
    ._in-footer-social-bar {
        text-align: center;
        overflow: hidden;
        .social-list__item {
            margin: 42px 13px;
        }
        .fa {
            color: $primary;
            margin: 0 5px;
        }
        span {
            font-size: 11px;
            font-family: $baseHeadingFonts;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: .16em;
        }
    }
}

/* ==========================================================================
   13. Error styles
   ========================================================================== */

.error {
    padding: 50px 0 120px;
    text-align: center;
    .error__header {
        margin-bottom: 70px;
    }
    .error__number {
        display: inline-block;
        font: italic 80px/normal $baseHeadingFonts;
    }
    .error__desc {
        display: inline-block;
        font: 30px/1 $baseFonts;
        padding-left: 27px;
        text-align: left;
        .different-text {
            font-style: italic;
            display: block;
            margin-left: 23px;
        }
    }
    .error__text {
        font-size: 14px;
        line-height: 24px;
        font-style: italic;
    }
    ._in-404 {
        width: 40px;
        margin: 35px auto 40px;
        background: $gray-lighter;
    }
    .error__search {
        text-align: left;
        width: 330px;
        margin: auto;
        .site-search {
            height: 50px;
            .site-search__field {
                padding-left: 20px;
                width: 83.63%;
            }
            .site-search__button {
                width: 16.06%;
            }
        }
    }
}

/* ==========================================================================
   14. Media Queries
   ========================================================================== */

@media (min-width: 992px) {

    /* Header Menu styles ----------------------*/

    .menu-list {
        list-style-type: none;
        padding: 0 20px;
        position: relative;
        text-align: center;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 1px;
            width: 100%;
            background: url("images/bg/border-decor.png") repeat-x;
        }
    }

    .menu-list > ul > li {
        margin: 0 19px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }

    .menu-list > ul > li > a {
        font: 11px/1.8 $baseHeadingFonts;
        padding: 15px 0;
        letter-spacing: .16em;
        font-weight: bold;
        text-transform: uppercase;
        display: table-cell;
        height: 64px;
        vertical-align: middle;
        position: relative;
        color: $dark;
        @include transition(all);
        &:hover,
        &:focus {
            color: $primary;
        }
    }

    .menu-list > ul > .current-menu-item > a {
        color: $primary;
    }

    .menu-list .menu-item-has-children > a {
        &:before {
            content: "•";
            font-size: 5px;
            position: absolute;
            left: -10px;
            padding-right: 10px;
            border-radius: 50%;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .menu-list .menu-item-has-children {
        cursor: pointer;
        &:hover {
            > .sub-menu {
                opacity: 1;
                visibility: visible;
                transform: translate3d(0,0,0);
                transition-delay: 0s;
            }
        }
    }

    .sub-menu {
        .menu-item-has-children {
            cursor: pointer;
            &:hover,
            &:focus {
                > .sub-menu {
                    left: 100%;
                }
            }
        }
    }

    .menu-list > ul > .menu-item-has-children > .sub-menu {
        &:after {
            content: ".";
            text-indent: -9999px;
            width: 0;
            height: 0;
            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
            margin: auto;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid #000000;
        }
    }

    .menu-list .sub-menu {
        position: absolute;
        list-style-type: none;
        background: #000000;
        top: 100%;
        left: 50%;
        margin-left: -110px;
        padding: 0;
        opacity: 0;
        visibility: hidden;
        transition: visibility 0s linear 0.2s,opacity 0.2s linear, transform 0.2s linear;
        transform: translate3d(0,20px,0);
        width: 220px;
        z-index: 1;
    }

    .menu-list .sub-menu li {
        position: relative;
    }

    .menu-list .sub-menu li a {
        font: bold 11px/18px $baseHeadingFonts;
        text-transform: uppercase;
        padding: 14px 15px 13px;
        letter-spacing: .16em;
        display: block;
        color: #ffffff;
        transition: color .13s ease-in, background .3s linear;
    }

    .menu-list .sub-menu li:hover > a,
    .menu-list .sub-menu li:focus > a {
        color: $primary;
        background: #151515;
    }

    .menu-list .sub-menu .menu-item-has-children > a {
        &:before {
            padding-right: 0;
            position: relative;
            left: -7px;
            top: -1px;
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
        }
    }

    .menu-list .sub-menu .current-menu-item > a {
        color: $primary;
        background: #151515;
    }

    .menu-list .sub-menu .sub-menu {
        top: 0 !important;
        left: -9999px;
        transform: translate3d(20px, 0, 0);
        margin-left: 0;
    }

    .sticky-menu {
        position: relative;
        z-index: 1000;
        &._fixed {
            &:before {
                display: none;
            }
            position: fixed;
            background: #ffffff;
            transition: box-shadow .2s linear;
            left: 0;
            width: 100%;
            padding: 0 20px;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
            top: 0;
        }
    }

    body.admin-bar {
        .sticky-menu._fixed {
            top: 32px;
        }
    }

    .menu-toggle {
        display: none;
    }

    .header-bg-overlay {
        .menu-list:not(._fixed) > ul > li:not(.current-menu-item) > a {
            color: #ffffff;
            &:hover,
            &:focus {
                color: $primary;
            }
        }

        .menu-list:before {
            background: url("images/bg/border-decor_white.png") repeat-x;
        }
    }

    /* Slider styles -------------------------*/

    .animate-nav {
        .owl-nav__arrow {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            z-index: 2;
            font-size: 35px;
        }
        .owl-prev,
        .owl-next {
            border: none;
            &:hover {
                background: none;
                .owl-nav__arrow {
                    color: #ffffff;
                }
            }
        }
        .owl-nav__preview {
            backface-visibility: hidden;
        }
    }

    ._animate_diamond {
        .owl-prev,
        .owl-next {
            width: 65px;
            height: 65px;
            line-height: 64px;
            .owl-nav__preview-wrap {
                transform: scale(0.6);
                transition: transform 0.3s;
                width: 100%;
                height: 100%;
                overflow: hidden;
                .owl-nav__preview {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    opacity: 0;
                    transition: opacity 0.3s, transform 0.3s, background-image 0.4s;
                    width: 150px;
                    height: 150px;
                    background-size: cover;
                }
            }
            &:hover {
                .owl-nav__preview {
                    opacity: .9;
                }
            }
        }
        .owl-prev {
            left: 30px;
            .owl-nav__preview-wrap {
                .owl-nav__preview {
                    transform: translateX(-50%) translateY(-50%) rotate(45deg) scale(2);
                }
            }
            &:hover {
                .owl-nav__preview-wrap {
                    transform: scale(1) rotate(-45deg);
                    .owl-nav__preview {
                        transform: translateX(-50%) translateY(-50%) rotate(45deg) scale(1);
                    }
                }
            }
        }
        .owl-next {
            right: 30px;
            .owl-nav__preview-wrap {
                .owl-nav__preview {
                    transform: translateX(-50%) translateY(-50%) rotate(-45deg) scale(2);
                }
            }
            &:hover {
                .owl-nav__preview-wrap {
                    transform: scale(1) rotate(45deg);
                    .owl-nav__preview {
                        transform: translateX(-50%) translateY(-50%) rotate(-45deg) scale(1);
                    }
                }
            }
        }
    }

    ._animate_circle_slide {
        .owl-prev,
        .owl-next {
            width: 65px;
            height: 65px;
            line-height: 64px;
            .owl-nav__preview-wrap {
                overflow: hidden;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-color: $gray;
                border-radius: 50%;
                transform: scale(0.7);
                opacity: 0;
                transition: transform 0.3s, opacity 0.3s, background-color 0.1s 0s;
                .owl-nav__preview {
                    display: block;
                    border-radius: 50%;
                    transition: transform 0.3s, background-image 0.4s;
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                }
            }
            &:hover {
                .owl-nav__preview-wrap {
                    opacity: 1;
                    background-color: transparent;
                    transform: scale(1);
                    transition: transform 0.3s, opacity 0.3s, background-color 0.1s 0.2s;
                }
                .owl-nav__preview {
                    transform: translateX(0);
                }
            }
        }
        .owl-prev {
            left: 30px;
            .owl-nav__preview {
                transform: translateX(-100%);
            }
        }
        .owl-next {
            right: 30px;
            .owl-nav__preview {
                transform: translateX(100%);
            }
        }
    }

    ._animate_thumb_flip {
        .owl-prev,
        .owl-next {
            width: 80px;
            height: 80px;
            line-height: 99px;
            background: rgba(0, 0, 0, .3);
            &:hover {
                background: #ffffff;
                .owl-nav__arrow {
                    color: #000000;
                }
                .owl-nav__preview-wrap {
                    transform: rotateY(0deg);
                }
            }
            .owl-nav__preview-wrap {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                transition: transform 0.3s;
                .owl-nav__preview {
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-size: cover;
                    transition: background-image 0.4s;
                }
            }
        }
        .owl-prev {
            left: 0px;
            .owl-nav__preview-wrap {
                left: 100%;
                transform: rotateY(90deg);
                transform-origin: 0% 50%;
            }
        }
        .owl-next {
            right: 0px;
            .owl-nav__preview-wrap {
                right: 100%;
                transform: rotateY(-90deg);
                transform-origin: 100% 50%;
            }
        }
    }

    ._animate_image_bar {
        .owl-prev,
        .owl-next {
            width: 70px;
            height: 90%;
            top: 50%;
            transform: translateY(-50%);
            overflow: hidden;
            transition: background-color 0.3s;
            &:hover {
                background-color: rgba(255,255,255,0.7);
                .owl-nav__preview-wrap {
                    transform: translateX(0);
                    opacity: .7;
                }
            }
        }
        .owl-prev {
            left: 0px;
            .owl-nav__preview-wrap {
                transform: translateX(100%);
            }
        }
        .owl-next {
            right: 0px;
            .owl-nav__preview-wrap {
                transform: translateX(-100%);
            }
        }
        .owl-nav__preview-wrap {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 0.3s, transform 0.3s;
            .owl-nav__preview {
                height: 100%;
                width: 100%;
                background-size: cover;
                background-position: center;
                transition: background-image 0.4s ease 0s;
            }
        }
    }

    .apposition-wrapper {
        &._with-sidebar {
            .apposition-image {
                left: 0;
                max-width: none;
                img {
                    width: 100%;
                }
            }
            .apposition-content {
                width: 75%;
            }
        }
    }

}

@media (max-width: 1200px) {

    /* Slider styles ----------------------*/

    .entry-slider {
        height: 435px;
        .slide {
            .slide__featured {
                height: 435px;
            }
        }
    }

    /* Featured Blocks ----------------------*/

    .popular-post {
        .popular-post__image {
            height: 195px;
        }
    }

    /* Post styles ----------------------*/

    .content-box-overlay {
        padding-left: 26px;
        padding-right: 26px;
        .content-box {
            padding: 65px 45px 0;
            top: -65px;
        }
    }

    /* Widget styles ----------------------*/

    #wp-calendar tbody td {
        padding: 2px 6px;
    }

}

@media (max-width: 991px) {

    .scroll-to-top {
        display: none;
    }

    /* Header Menu styles ----------------------*/

    body {
        &._fixed {
            position: fixed;
            width: 100%;
            height: 100%;
        }
        &.admin-bar {
            .mob-menu-overlay {
                padding-bottom: 46px;
            }
        }
    }

    .header-bg-overlay {
        .menu-toggle {
            .menu-toggle__line,
            &:before,
            &:after {
                background: #ffffff;
            }
        }
    }

    .header {
        padding: 0px 15px;
        width: 750px;
        margin: auto;
    }

    .site-brand {
        padding: 40px 0;
    }

    .top-bar__right .site-search {
        transition: none;
    }

    ._menu-open {
        position: fixed;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
        width: 100%;
        background: #000000;
        z-index: 3;
        .mob-menu-overlay {
            position: relative;
            left: inherit;
            transform: scale(1);
            opacity: 1;
        }
        .top-bar,
        .top-bar__right .site-search,
        .site-search .site-search__button {
            background-color: transparent;
        }
        .site-search._focus,
        .site-search._focus .site-search__button {
            background-color: #101010;
        }
    }

    .mob-menu-overlay {
        display: block;
        position: absolute;
        left: -999px;
        transform: scale(1.1);
        opacity: 0;
        transition: transform .4s ease, opacity .4s linear;
        ul {
            list-style-type: none;
        }
        .menu-list {
            text-align: center;
            > ul > .menu-item {
                padding: 30px 0;
                border-top: 1px solid #222222;
            }
            li {
                a {
                    font: 11px/18px $baseHeadingFonts;
                    text-transform: uppercase;
                    padding: 10px 0;
                    display: inline-block;
                    letter-spacing: .16em;
                    color: #ffffff;
                }
            }
            .sub-menu {
                a {
                    color: $gray;
                }
            }
            .current-menu-item {
                > a {
                    color: $primary;
                }
            }
        }
    }

    .menu-toggle {
        display: block;
        position: absolute;
        width: 20px;
        top: 0;
        left: 20px;
        bottom: 0;
        height: 16px;
        margin: auto;
        cursor: pointer;
        z-index: 2;
        .menu-toggle__line {
            margin: 6px 0;
            height: 4px;
            background: #000000;
            display: block;
            transition: opacity .4s 0 ease;
        }
        &:after,
        &:before {
            content: "";
            width: 100%;
            height: 4px;
            left: 0;
            background: #000000;
            position: absolute;
            transition: top .2s .2s ease, bottom .2s .2s ease, transform .2s ease;
        }
        &:after {
            top: 0;
        }
        &:before {
            bottom: 0;
        }
        &._active {
            .menu-toggle__line {
                opacity: 0;
                background: #ffffff;
            }
            &:after,
            &:before {
                transition: top .2s ease, bottom .2s ease, transform .2s .2s ease;
                background: #ffffff;
            }
            &:after {
                top: 6px;
                transform: rotate3d(0, 0, 1, 45deg);
            }
            &:before {
                bottom: 6px;
                transform: rotate3d(0, 0, 1, -45deg);
            }
        }
    }

    /* Slider styles ----------------------*/

    .entry-slider {
        height: 330px;
        .slide {
            .slide__featured {
                height: 330px;
            }
            .slide__category {
                padding-bottom: 10px;
                padding-top: 15px;
            }
            .slide__title {
                margin-top: 30px;
                margin-bottom: 10px;
            }
            .slide__date {
                margin-bottom: 55px;
            }
        }
    }

    /* Featured Blocks ----------------------*/

    .popular-post {
        .popular-post__image {
            height: 148.5px;
        }
        .popular-post__content {
            height: 80px;
            padding: 16px 20px;
            left: 7%;
            right: 7%;
            .popular-post__title {
                font-size: 13px;
                margin-bottom: 7px;
            }
        }
    }

    /* Content Layout styles ----------------------*/

    .content {
        margin-top: 45px;
        .content__primary {
            width: 100%;
            float: none;
            &._align-right {
                float: none;
            }
        }

        .sidebar {
            float: none;
            width: 400px;
            margin: auto;
        }
    }

    /* Post styles ----------------------*/

    ._full-width {
        .grid-list {
            .grid-list__item {
                width: 50%;
            }
        }
    }

    .content-box-overlay {
        padding-left: 20px;
        padding-right: 20px;
        .content-box {
            padding: 50px 33px 0;
            top: -50px;
        }
    }

    .post._type-apposition {
        margin-bottom: 35px;
    }

    .apposition-image {
        position: relative;
        max-width: none;
        .post__thumbnail {
            img {
                height: auto;
                max-width: 100%;
            }
        }
    }

    .apposition-content {
        width: 100%;
        margin: 0;
    }

    /* Widget styles ----------------------*/

    #wp-calendar tbody td {
        padding: 8px;
    }

    .follow-text a {
        font-size: 20px;
        padding: 8px 16px;
    }
}

@media (max-width: 767px) {

    /* Post styles ----------------------*/

    .post__content {
        .gallery{
            margin-bottom: 25px;
            &.gallery-columns-1,
            &.gallery-columns-2,
            &.gallery-columns-3,
            &.gallery-columns-4,
            &.gallery-columns-5,
            &.gallery-columns-6,
            &.gallery-columns-7,
            &.gallery-columns-8,
            &.gallery-columns-9 {
                .gallery-item {
                    width: 100%;
                }
            }
        }
    }

    .post._format-quote._type-grid {
        height: auto;
        padding: 50px 45px;
    }

    .content-box-overlay {
        padding-left: 0;
        padding-right: 0;
        .content-box {
            top: 0;
            padding: 40px 30px;
        }
    }

    .post {
        .post__info a {
            display: inline-block;
            margin-bottom: 10px;
        }
        .post__content {
            margin-top: 25px;
        }
        &._format-quote {
            padding: 40px 30px;
        }
    }

    .apposition-content {
        padding: 40px 30px;
    }

    /* Top bar styles ----------------------*/

    .top-bar__right {
        width: 100%;
        .site-search {
            margin-right: -15px;
            margin-left: -15px;
            width: auto;
            .site-search__button {
                width: 60px;
            }
        }
    }

    /* Header Menu styles ----------------------*/

    .header-bg-overlay {
        + .container .slider-wrapper {
            margin-top: 30px;
        }
    }

    #wpadminbar {
        position: fixed;
    }

    .header {
        width: 100%;
    }

    .site-brand {
        max-width: 160px;
        margin: auto;
    }

    .mob-menu {
        padding: 10px 0 20px;
    }

    body {
        &.admin-bar {
            .mob-menu {
                padding-bottom: 56px;
            }
        }
    }

    /* Slider styles ----------------------*/

    .entry-slider {
        height: 200px;
        .slide {
            .slide__content__inner {
                max-width: 90%;
            }
            .slide__featured {
                height: 200px;
            }
            .slide__category {
                padding-bottom: 10px;
                padding-top: 0;
                a {
                    font-size: 10px;
                }
            }
            .slide__title {
                margin-top: 5px;
                margin-bottom: 10px;
                font-size: 17px;
            }
            .slide__date {
                margin-bottom: 0;
                &:before,
                &:after {
                    width: 35px;
                }
                &:before {
                    left: -10px;
                }
                &:after {
                    left: 10px;
                }
                a {
                    font-size: 11px;
                }
            }
        }
        .owl-prev,
        .owl-next {
            width: 25px;
            height: 35px;
            line-height: 35px;
        }
        .owl-prev {
            left: 10px;
        }
        .owl-next {
            right: 10px;
        }
    }

    .owl-controls .owl-prev,
    .owl-controls .owl-next {
        font-size: 15px;
    }

    /* Featured Blocks ----------------------*/

    .popular-post {
        margin-top: 30px;
        .popular-post__image {
            height: 200px;
        }
    }


    /* Content Layout styles ----------------------*/

    .content {
        margin-top: 35px;
        margin-bottom: 15px;
        .sidebar {
            width: 100%;
        }
    }

    /* Post styles ----------------------*/

    .grid-list {
        .grid-list__item {
            width: 100% !important;
        }
    }

    .post {
        .post__header {
            margin-bottom: 25px;
        }
        &._type-grid {
            .post__thumbnail {
                img {
                    width: 100%;
                }
            }
        }
    }

    .post__author-bio {
        padding: 50px 0;
    }

    .social-list {
        &._in-author-bio {
            text-align: center;
            .social-list__item {
                margin: 0 5px;
            }
        }
    }

    .nav-links {
        margin-bottom: 50px;
    }

    .image-placeholder {
        &._in-related-post {
            margin-bottom: 10px;
        }
    }

    .related-posts {
        .related-posts__title {
            margin-bottom: 30px;
        }
        .related-posts__list {
            white-space: normal;
            padding-bottom: 0;
            margin-bottom: 40px;
            &:after {
                left: 15px;
                right: 15px;
            }
            .related-posts__list__item {
                width: 100%;
                margin-bottom: 40px;
            }
        }
        .related-post {
            .post__title {
                font-size: 15px;
                margin-bottom: 5px;
            }
        }
    }

    .comments {
        margin-bottom: 50px;
        .comments__title {
            margin-bottom: 40px;
        }
    }

    .comments-list {
        .comments-list__item {
            padding-bottom: 25px;
            margin-bottom: 25px;
        }
        .children {
            margin-left: 5px;
        }
        .comment {
            .comment__avatar {
                width: 70px;
                .avatar {
                    max-width: 70px;
                }
            }
        }
    }

    .comment-edit-link {
        display: none;
    }

    .comment-respond {
        margin-bottom: 40px;
        .comment-reply-title {
            margin-bottom: 20px;
            small {
                a {
                    font-size: 10px;
                    padding-top: 5px;
                }
            }
        }
    }

    .comment-form {
        .logged-in-as {
            margin-bottom: 20px;
        }
    }

    .control-label {
        padding: 10px 15px 0;
        text-align: left;
    }

    .wpcf7-form {
        .wpcf7-text {
            width: 100%;
        }
    }

    /* Widget styles ----------------------*/

    .widget {
        padding: 25px;
        margin-bottom: 30px;
    }

    #wp-calendar tbody td {
        padding: 5px 8px;
    }

    .follow-text {
        display: none;
    }

    /* Footer styles ----------------------*/

    .footer {
        margin-top: 0;
        .footer__bottom-panel {
            text-align: center;
            padding: 20px;
            .copyright,
            .designed {
                float: none;
            }
        }
        ._in-footer-social-bar {
            .social-list__item {
                display: block;
                margin: 30px 13px;
            }
        }
    }

    /* Error styles ----------------------*/

    .error {
        padding: 30px 0 80px;
        .error__header {
            margin-bottom: 40px;
        }
        .error__number {
            font-size: 70px;
        }
        .error__desc {
            font-size: 25px;
            padding-left: 10px;
        }
        .error__text {
            font-size: 13px;
            line-height: 22px;
        }
        ._in-404 {
            margin: 25px auto 30px;
        }
        .error__search {
            width: 95%;
        }
    }
}