// Base Colors

$primary: #afa376;
$dark: #000000;
$gray-dark: #444444;
$gray: #999999;
$gray-lighter: #dbdbdb;


// Base Fonts

$baseFonts: 'Merriweather';  // For posts and other content.
$baseHeadingFonts: 'Lato', sans-serif;   // For headers, menu and other ui components.


// Transition Mixin

@mixin transition ($property) {
    transition: $property 0.13s ease-in;
}